* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #575959;
  vertical-align: baseline;
  line-height: 30px;
}

p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 170%;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #080f10;
  font-style: normal;
  transition: all 0.5s ease-out;
}

h1 {
  font-size: 76px;
  line-height: 91px;
  font-weight: 600;
}

h2 {
  font-size: 57px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 43px;
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

h6 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

label {
  color: #575959;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

button {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a,
.button {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #1eae98;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a,
button {
  color: #1eae98;
  outline: medium none;
  transition: all 0.5s ease-out;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #035b7b;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #035b7b;
  text-shadow: none;
  color: #fff;
}

textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: #033f47;
}

.background-blue {
  background-color: #003869;
}

.background-skye {
  background-color: #1eae98;
}

.background-gray {
  background-color: #eef5f8;
}

.page-bg {
  background-color: #020a27;
}

.background-primary {
  background-color: #f8f8f1;
}

.page-area {
  padding-top: 100px;
  padding-bottom: 85px;
}

.theme-btn,
.wp-block-loginout a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #080f10;
  padding: 16.5px 32px;
  text-align: center;
  border-radius: 4px;
  background: #e0f780;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .theme-btn,
  .wp-block-loginout a {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-btn,
  .wp-block-loginout a {
    padding: 12px 20px;
    font-size: 16px;
  }
}
.theme-btn:hover,
.wp-block-loginout a:hover {
  background: #080f10;
  color: #fff;
  border-color: #071c34;
}
.theme-btn.style-two,
.wp-block-loginout a.style-two {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.theme-btn.style-two:hover,
.wp-block-loginout a.style-two:hover {
  background: #e0f780;
  color: #080f10;
  border-color: #e0f780;
}
.theme-btn.style-three,
.wp-block-loginout a.style-three {
  border: 1px solid #575959;
  color: #080f10;
  background: transparent;
  padding: 16px 24px;
  transition: all 0.5s ease-out;
}
.theme-btn.style-three span,
.wp-block-loginout a.style-three span {
  line-height: 170%;
  font-size: 16px;
}
.theme-btn.style-three:hover,
.wp-block-loginout a.style-three:hover {
  background: #e0f780;
  color: #080f10;
  border-color: transparent;
}
.theme-btn.style-four,
.wp-block-loginout a.style-four {
  border: 1px solid transparent;
}
.theme-btn.style-four:hover,
.wp-block-loginout a.style-four:hover {
  background: transparent;
  border-color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .theme-btn.style-four,
  .wp-block-loginout a.style-four {
    padding: 10px 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-btn.style-four,
  .wp-block-loginout a.style-four {
    padding: 10px 20px;
  }
}

.theme-transparant-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.theme-transparant-btn:hover {
  background: #e0f780;
  color: #080f10;
  border-color: transparent;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.slider-btn-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 16px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-btn-wrapper {
    margin-top: 30px;
  }
}
.slider-btn-wrapper .slider-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16.5px 32px;
  text-align: center;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}
.slider-btn-wrapper .slider-btn.active {
  background: #e0f780;
  color: #080f10;
  border: 1px solid transparent;
}
.slider-btn-wrapper .slider-btn.active:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.slider-btn-wrapper .slider-btn:hover {
  background: #e0f780;
  color: #080f10;
  border-color: transparent;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-btn-wrapper .slider-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.slider-btn-wrapper.style-two {
  justify-content: center;
}
.slider-btn-wrapper.style-two .slider-btn {
  border-color: #575959;
  color: #080f10;
}
.slider-btn-wrapper.style-two .slider-btn.active {
  border-color: transparent;
}
.slider-btn-wrapper.style-two .slider-btn.active:hover {
  border-color: #575959;
  color: #080f10;
}
.slider-btn-wrapper.style-two .slider-btn:hover {
  border-color: transparent;
}

.pl-312 {
  padding-left: 312px;
}

.mt-64 {
  margin-top: 64px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mt-lg-64 {
    margin-top: 64px;
  }
}

.mt-48 {
  margin-top: 48px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.custom-container {
  max-width: 1728px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/Pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  top: 0;
  left: 0;
}

.faq-area-global {
  background-color: #f8f8f1;
  padding: 120px 0;
  position: relative;
}
.faq-area-global .faq-sketch {
  background: url("../images/sketch-color.png");
  position: absolute;
  bottom: 201px;
  left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 169px;
  height: 169px;
}
.faq-area-global .shape-one {
  background: url("../images/shape/Rectangle.png");
  position: absolute;
  left: 42px;
  bottom: 507px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
.faq-area-global .shape-two {
  background: url("../images/shape/shape-2.png");
  position: absolute;
  right: 55px;
  top: 201px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global {
    padding: 100px 0;
  }
}

.custom-container-60 {
  width: 100%;
  overflow: hidden;
  padding-right: 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .custom-container-60 {
    padding: 0 12px;
    width: 100%;
  }
}

.slider-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-container {
    padding: 0 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-container {
    padding: 0 12px;
  }
}

.bg-icon {
  background-color: #033f47;
}

.bg-gray {
  background-color: #f8f8f1;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}
.portfolio-card .portfolio-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio-card .portfolio-image img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
.portfolio-card .portfolio-image:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.portfolio-card .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 636px;
  height: 112px;
  margin-top: 32px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card .content {
    width: 100%;
    height: 100%;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-card .content {
    width: 100%;
    height: 100%;
    margin-top: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-card .content {
    width: 100%;
    height: 100%;
  }
}
.portfolio-card .content .icon {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  transform: translate(0, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #e0f780;
  align-items: center;
  justify-content: center;
}
.portfolio-card .content .icon i {
  font-size: 21px;
  line-height: 21px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card .content .icon {
    right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-card .content .icon {
    right: 20px;
  }
}
.portfolio-card .content h4,
.portfolio-card .content p {
  color: #ffffff;
}
.portfolio-card .content h4 {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.5s ease-out;
}
.portfolio-card .content h4:hover {
  text-decoration-color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card .content h4 {
    font-size: 26px;
    line-height: 38px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card .content p {
    font-size: 14px;
  }
  .portfolio-card .content p br {
    display: none;
  }
}
.portfolio-card:hover {
  cursor: pointer;
}
.portfolio-card:hover .portfolio-image img {
  transform: scale(1.04);
}

.portfolio-card.style-two {
  gap: 0;
  overflow: hidden;
}
.portfolio-card.style-two .content {
  padding: 64px 40px;
  background: #f8f8f1;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card.style-two .content {
    padding: 40px 26px;
  }
}
.portfolio-card.style-two .content .icon {
  display: flex;
}
.portfolio-card.style-two .content h4 {
  color: #080f10;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.5s ease-out;
}
.portfolio-card.style-two .content h4:hover {
  text-decoration-color: #080f10;
}
.portfolio-card.style-two .content p {
  color: #575959;
}
.portfolio-card.style-two:hover .portfolio-image {
  transform: scale(1.03);
  filter: unset;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card.style-two {
    margin-top: 24px;
  }
}

.portfolio-card.style-three {
  gap: 0;
  overflow: visible;
}
.portfolio-card.style-three .content {
  background: #ffffff;
  padding: 44px 48px;
  margin-top: 0;
  overflow: visible;
  height: 100%;
}
@media (max-width: 991px) {
  .portfolio-card.style-three .content {
    padding: 24px;
  }
}
.portfolio-card.style-three .content .icon {
  display: flex;
  border-radius: 4px;
  background: #033f47;
  bottom: unset;
  right: 50px;
  top: 0;
}
.portfolio-card.style-three .content .icon i {
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card.style-three .content .icon {
    width: 48px;
    height: 48px;
    right: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-card.style-three .content .icon {
    width: 48px;
    height: 48px;
    right: 24px;
  }
}
.portfolio-card.style-three .content h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
.portfolio-card.style-three .content h4,
.portfolio-card.style-three .content p {
  color: #080f10;
}
@media (max-width: 991px) {
  .portfolio-card.style-three .content p {
    font-size: 14px;
  }
}

.image-card {
  display: flex;
  align-items: center;
  gap: 64px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card {
    flex-direction: column-reverse;
    gap: 32px;
  }
}
.image-card .content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}
.image-card .content .title {
  position: relative;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content .title {
    font-size: 36px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .content .title {
    font-size: 48px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image-card .content .title {
    font-size: 48px;
  }
}
.image-card .content .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content .desc {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .content {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image-card .content {
    width: 100%;
    padding-right: 0;
  }
}
.image-card .image-card-btn span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}
.image-card .image {
  width: 50%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 1440px) {
  .image-card .image .image-card-sketch {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 79px;
    height: 91px;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .image-card .image .image-card-sketch.style-two {
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
    transform: translate(50%, 50%);
    z-index: 3;
  }
  .image-card .image .image-card-sketch.style-three {
    width: 155px;
    height: 155px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
.image-card .image img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .image {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .image {
    width: 100%;
  }
}
.image-card .section-title .title {
  position: relative;
  margin-bottom: 16px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .section-title .title {
    font-size: 46px;
  }
}
.image-card .section-title .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .section-title .desc {
    font-size: 16px;
    line-height: 28px;
  }
}
.image-card.image-card-spacing {
  gap: 80px;
}
.image-card.image-card-spacing .content {
  gap: 24px;
}
.image-card.image-card-spacing .content .theme-btn-wrapper {
  margin-top: 24px;
}

.image-card.style-two {
  flex-direction: row-reverse;
}
.image-card.style-two .content .title {
  font-size: 43px;
  line-height: 53px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-two .content .title {
    font-size: 36px;
    line-height: 52px;
  }
}
@media (min-width: 1440px) {
  .image-card.style-two .image .image-card-sketch.style-three {
    position: absolute;
    width: 188px;
    height: 188px;
    top: unset;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-two {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card.style-two {
    flex-direction: column-reverse;
  }
}

.image-card.style-three {
  flex-direction: row-reverse;
  gap: 64px;
  z-index: 5;
  position: relative;
}
.image-card.style-three .content {
  padding-right: 30px;
}
.image-card.style-three .content .title {
  font-size: 43px;
  line-height: 52px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-three .content .title {
    font-size: 38px;
  }
}
.image-card.style-three .content .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-three {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card.style-three {
    flex-direction: column-reverse;
  }
}

.team-member-card.style-two .image {
  border-radius: 0 0 500px 500px;
  overflow: hidden;
}
.team-member-card.style-two .content-wrapper {
  padding: 24px 0 0 0;
}
.team-member-card.style-two .content-wrapper .user-info h4 {
  margin-bottom: 8px;
}
.team-member-card.style-two .content-wrapper .user-info p {
  font-size: 18px;
  line-height: 31px;
}
.team-member-card.style-two .content-wrapper .social {
  display: none;
}
.team-member-card.style-two:hover .content-wrapper {
  background: none;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  top: 0;
}
.team-member-card.style-two:hover .content-wrapper .user-info h4 {
  color: #080f10;
}
.team-member-card.style-two:hover .content-wrapper .user-info p {
  color: unset;
}

.icon-card.style-five {
  flex-direction: row;
  align-items: start;
  padding: 0;
  justify-content: start;
  gap: 16px;
}
.icon-card.style-five .icon {
  background: #e0f780;
  width: 64px;
  height: 64px;
  border: none;
}
.icon-card.style-five .icon i {
  font-size: 24px;
  color: #000;
}
.icon-card.style-five .content {
  gap: 4px;
}
.icon-card.style-five .content .title {
  text-align: start;
}
.icon-card.style-five .content .desc {
  text-align: start;
  padding: 0;
}

.icon-card.style-six {
  background: #f8f8f1;
  padding: 55px 38px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .icon-card.style-six {
    padding: 30px 16px;
  }
}
.icon-card.style-six .content .desc {
  padding: 0;
}

.icon-card.style-seven {
  background-color: #033f47;
  flex-direction: row;
  padding: 26px 0;
  gap: 16px;
  margin-top: 54px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s ease-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icon-card.style-seven {
    justify-content: start;
    padding: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .icon-card.style-seven {
    padding: 16px 12px;
  }
}
.icon-card.style-seven .icon {
  background: #e0f780;
  width: 80px;
  height: 80px;
  border: transparent;
}
.icon-card.style-seven .icon i {
  color: #033f47;
}
.icon-card.style-seven .content .title {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .icon-card.style-seven .content {
    flex-direction: column;
  }
}
.icon-card.style-seven.active {
  background-color: #f8f8f1;
  border-color: transparent;
}
.icon-card.style-seven.active .content .title {
  color: #080f10;
}

.portfolio_card_wrapper {
  position: relative;
}
.portfolio_card_wrapper .slick-list {
  margin-left: 312px;
}
.portfolio_card_wrapper .slick-list .slick-slide {
  margin: 0 12px;
  transition: all 0.5s ease-out;
}
.portfolio_card_wrapper .slick-list .slick-slide.slick-active {
  transition: all 0.5s ease-out;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio_card_wrapper .slick-list .slick-slide {
    margin: 0 20px 0 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 48px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 116px;
  }
}
.project-page-project-sec {
  padding: 120px 0;
  position: relative;
}
.project-page-project-sec .project-view-type {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.project-page-project-sec .project-view-type button {
  padding: 16px 24px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #080f10;
}
.project-page-project-sec .project-view-type button:hover {
  background-color: #080f10;
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .project-view-type button {
    padding: 12px 18px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .project-view-type button {
    flex-wrap: wrap;
  }
}
.project-page-project-sec .sketch {
  background: url("../images/sketch-color.png");
  position: absolute;
  left: 83px;
  top: 84px;
  background-position: center;
  background-repeat: no-repeat;
  width: 169px;
  height: 169px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}

/* Project-details CSS */
.project-details-info {
  padding-top: 120px;
  background: #f8f8f1;
}

.project-info-widget-wrapper {
  padding-right: 218px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-info-widget-wrapper {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-info-widget-wrapper {
    padding-right: 0;
  }
}
.project-info-widget-wrapper .project-info-widget {
  background: #e0f780;
  padding: 60px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.project-info-widget-wrapper .project-info-widget .project-info-sketch {
  position: absolute;
  width: 109px;
  height: 109px;
  top: 0;
  left: 0;
  transform: translate(-72%, -72%);
  background-image: url("../images/shape/image-card-sketch.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-info-widget-wrapper .project-info-widget .project-info-sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-info-widget-wrapper .project-info-widget .project-info-sketch {
    display: none;
  }
}
.project-info-widget-wrapper .project-info-widget .info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-info-widget-wrapper .project-info-widget .info-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #575959;
}

.project-banner {
  padding: 29px;
  border-left: 5px solid #033f47;
}
.project-banner p {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #080f10;
}
.project-banner.style-two {
  padding-right: 30px;
}
.project-banner.style-two p {
  font-size: 24px;
  line-height: 34px;
}

.project-details-gallery {
  margin-top: 117px;
}

.color-card-section {
  margin-top: 24px;
}
.color-card-section .color-card-one {
  height: 250px;
  background-color: #000;
}
.color-card-section .color-card-two {
  height: 250px;
  background-color: #e0f780;
}
.color-card-section .color-card-three {
  height: 250px;
  background-color: #033f47;
}
.color-card-section .color-card-four {
  height: 250px;
  background-color: #f8f8f1;
}

.project-text-banner {
  padding: 0 76px;
}
.project-text-banner p {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #080f10;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-text-banner {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-text-banner {
    padding: 0 20px;
  }
}

.video-banner {
  margin-top: 120px;
}

.number-card-wrapper .number-card {
  padding: 76px 0 77px 0;
  background-color: #033f47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.number-card-wrapper .number-card h4 {
  color: #ffffff;
}
.number-card-wrapper .number-card p {
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
}

.project-slider-wrapper {
  height: 700px;
}
.project-slider-wrapper .image-wrapper {
  height: 100%;
}
.project-slider-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
}
.project-slider-wrapper .slick-list {
  height: 100%;
  padding: 0 !important;
}
.project-slider-wrapper .slick-track {
  height: 100%;
}
.project-slider-wrapper .slick-center {
  width: 612px !important;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-slider-wrapper .slick-center {
    width: 370px !important;
  }
}
.project-slider-wrapper .slick-slide {
  margin: 0 12px;
  height: 100%;
  width: 306px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-slider-wrapper .slick-slide {
    width: 220px;
  }
}
.project-slider-wrapper button {
  display: none !important;
}

.service-details-offer .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #080f10;
  margin-top: 16px;
}

.service-details-about {
  padding: 120px 0;
  background-color: #033f47;
  position: relative;
}
.service-details-about .service-details-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/Pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.contact-info-card-wrapper {
  display: flex;
  align-items: center;
  gap: 64px;
}
.contact-info-card-wrapper .image-wrapper {
  position: relative;
}
.contact-info-card-wrapper .image-wrapper .project-info-sketch {
  position: absolute;
  width: 109px;
  height: 109px;
  top: 0;
  left: 0;
  transform: translate(-72%, -72%);
  background-image: url("../images/shape/image-card-sketch.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contact-info-card-wrapper .image-wrapper .project-info-sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-info-card-wrapper .image-wrapper .project-info-sketch {
    display: none;
  }
}
.contact-info-card-wrapper .contact-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contackt-faq-btn-wrapper {
  display: flex;
  align-items: center;
}
.contackt-faq-btn-wrapper .contact-faq-btn {
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #575959;
}
.contackt-faq-btn-wrapper .contact-faq-btn span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #080f10;
}

.testimonial-card.style-two {
  margin-top: 64px;
  background: transparent;
  padding: 0;
  gap: 0;
}
.testimonial-card.style-two .image-wrapper {
  overflow: hidden;
  max-width: 50%;
  width: 100%;
  padding-right: 134px;
  position: relative;
}
.testimonial-card.style-two .image-wrapper .image img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 220px 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .image-wrapper .image img {
    border-radius: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .image-wrapper {
    max-width: 100%;
    padding-right: 0;
    overflow: visible;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-card.style-two .image-wrapper {
    max-width: 100%;
    padding-right: 0;
    overflow: visible;
  }
}
.testimonial-card.style-two .content-wrapper {
  gap: 48px;
  justify-content: end;
  max-width: 50%;
  width: 100%;
  padding-right: 45px;
  position: relative;
}
.testimonial-card.style-two .content-wrapper .count {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  background: #e0f780;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-card.style-two .content-wrapper .count p {
  color: #033f47;
  font-size: 34px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .content-wrapper .count p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .content-wrapper .count {
    bottom: 0;
    right: 0;
    transform: translate(40%, 40%);
    width: 45px;
    height: 45px;
  }
}
.testimonial-card.style-two .content-wrapper .icon {
  display: none;
}
.testimonial-card.style-two .content-wrapper .content .text {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .content-wrapper .content .text {
    font-size: 18px;
    font-weight: 500;
  }
}
.testimonial-card.style-two .content-wrapper .meta-user .user-info .image {
  display: none;
}
.testimonial-card.style-two .content-wrapper .meta-user .user-info .info h5 {
  color: #e0f780;
}
.testimonial-card.style-two .content-wrapper .meta-user .user-info .info p {
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two .content-wrapper {
    max-width: 100%;
    margin-top: 48px;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-card.style-two .content-wrapper {
    max-width: 100%;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-two {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-card.style-two {
    flex-direction: column;
  }
}

.testimonial-card.style-three .content-wrapper {
  gap: 16px;
}
.testimonial-card.style-three .content .text {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #080f10;
}
.testimonial-card.style-three .meta-user {
  margin-top: 40px;
}
.testimonial-card.style-three .meta-user .user-info .image {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .testimonial-card.style-three .meta-user {
    margin-top: 0;
  }
}

.about-info-card {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-info-card {
    margin-top: 24px;
  }
}
.about-info-card .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-info-card .content-wrapper .content .title {
  margin-bottom: 16px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .about-info-card .content-wrapper .content .title {
    margin-top: 24px;
    font-size: 32px;
    line-height: 44px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-info-card .content-wrapper .content .title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-info-card .content-wrapper .content .title {
    font-size: 48px;
    line-height: 56px;
  }
}
.about-info-card .content-wrapper .content .desc {
  font-size: 18px;
  line-height: 31px;
  color: #575959;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .about-info-card .content-wrapper .content .desc {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-info-card .content-wrapper .content .desc {
    font-size: 16px;
    line-height: 28px;
  }
}
.about-info-card .content-wrapper .about-counter-card {
  display: flex;
  gap: 32px;
}
.about-info-card .content-wrapper .about-counter-card .counter-item .counter-title .number {
  font-size: 43px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #080f10;
  display: flex;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .about-info-card .content-wrapper .about-counter-card .counter-item .counter-title .number {
    font-size: 32px;
    line-height: 44px;
  }
}
.about-info-card .content-wrapper .about-counter-card .counter-item .counter-content .text {
  font-size: 18px;
  line-height: 31px;
  color: #080f10;
  margin-top: 8px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .about-info-card .content-wrapper .about-counter-card .counter-item .counter-content .text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-info-card .content-wrapper .about-counter-card .counter-item .counter-content .text {
    font-size: 16px;
  }
}

.custom-slider-btn {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}
.custom-slider-btn a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.custom-slider-btn a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 21px;
  transition: all 0.5s ease-out;
}
.custom-slider-btn a:hover {
  background: #e0f780;
  border-color: transparent;
}
.custom-slider-btn a:hover i {
  color: #080f10;
  transition: all 0.5s ease-out;
}
.custom-slider-btn.style-two {
  margin-top: 0;
}
.custom-slider-btn.style-two a {
  border: 1px solid #828282;
}
.custom-slider-btn.style-two a i {
  color: #080f10;
}
.custom-slider-btn.style-two a:hover {
  border-color: transparent;
}

.slider-area.style-two {
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1920px) {
  .slider-area.style-two .sketch-one {
    background-image: url("../images/sketch-color.png");
    width: 109px;
    height: 109px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two button.slider-arrow-btn {
    bottom: 36px;
  }
}
.slider-area.style-two button.slider-arrow-btn.prev-btn {
  left: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two button.slider-arrow-btn.prev-btn {
    left: 144px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two button.slider-arrow-btn.prev-btn {
    left: unset;
    right: 96px;
  }
}
.slider-area.style-two button.slider-arrow-btn.next-btn {
  right: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two button.slider-arrow-btn.next-btn {
    right: 144px;
  }
}
@media (max-width: 991px) {
  .slider-area.style-two .social-share {
    display: none;
  }
}
.slider-area.style-two .single-slider {
  padding-top: 206px;
  height: 994px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .single-slider {
    padding: 112px 12px 64px 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two .single-slider {
    height: 100%;
    padding-top: 148px;
  }
}
.slider-area.style-two .slider-wrapper .container {
  position: relative;
}
.slider-area.style-two .slider-wrapper .slider-content-wrapper {
  position: relative;
  z-index: 1;
}
.slider-area.style-two .slider-wrapper .slider-content-wrapper:after {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .slider-wrapper .slider-content-wrapper {
    padding: 0;
    margin-top: 112px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two .slider-wrapper .slider-content-wrapper {
    padding: 0;
    margin-top: 64px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .slider-wrapper .slider-content-wrapper .slider-content {
    text-align: center;
  }
}
.slider-area.style-two .slider-wrapper .slider-content-wrapper .slider-content .slider-short-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area.style-two .slider-wrapper .slider-content-wrapper .slider-content .slider-short-title {
    font-size: 18px;
  }
}
.slider-area.style-two .slider-wrapper .slider-content-wrapper .slider-content .slider-title {
  color: #080f10;
}
.slider-area.style-two .slider-wrapper .slider-content-wrapper .slider-content .slider-short-desc {
  color: #575959;
}
.slider-area.style-two .slider-wrapper .slider-image {
  position: relative;
  border-radius: 0 0 100px 0;
  overflow: visible;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .slider-wrapper .slider-image {
    border-radius: 4px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two .slider-wrapper .slider-image {
    border-radius: 4px;
  }
}
.slider-area.style-two .slider-wrapper .slider-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #080f10;
  border-radius: 0 0 100px 0;
  margin: 24px 0 0 24px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .slider-wrapper .slider-image:before {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two .slider-wrapper .slider-image:before {
    display: none;
  }
}
.slider-area.style-two .slider-wrapper .slider-image img {
  border-radius: 0 0 100px 0;
  position: relative;
  z-index: 3;
  height: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .slider-area.style-two .slider-wrapper .slider-image img {
    border-radius: 4px;
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.style-two .slider-wrapper .slider-image img {
    border-radius: 4px;
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .slider-area.style-two .slider-wrapper .slider-image .certified {
    background-image: url("../images/slider/certified.png");
    background-position: center;
    width: 155px;
    height: 155px;
    top: 31px;
    left: 0;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 5;
  }
}
.slider-area.style-two .slider-wrapper .slick-dots {
  display: none !important;
}
.slider-area.style-two button.slider-arrow-btn {
  display: block !important;
  border: 1px solid #828282;
}
.slider-area.style-two button.slider-arrow-btn i {
  color: #080f10;
}
.slider-area.style-two button.slider-arrow-btn:hover {
  border-color: transparent;
}

.accordion-wrapper-two {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two {
    margin-top: 24px;
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-wrapper-two {
    margin-top: 24px;
    gap: 24px;
  }
}
.accordion-wrapper-two .accordion-list-item-two {
  width: 100%;
  background: #ffffff;
  position: relative;
  padding: 40px;
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two .accordion-list-item-two {
    padding: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-wrapper-two .accordion-list-item-two {
    padding: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-wrapper-two .accordion-list-item-two {
    padding: 16px;
  }
}
.accordion-wrapper-two .accordion-list-item-two:hover .accordion-head .icon {
  position: relative;
}
.accordion-wrapper-two .accordion-list-item-two:hover .accordion-head .icon:after {
  opacity: 0.5;
}
.accordion-wrapper-two .accordion-list-item-two.open:before {
  display: none;
}
.accordion-wrapper-two .accordion-list-item-two.open .accordion-head .icon:before {
  content: "" !important;
}
.accordion-wrapper-two .accordion-list-item-two.open .accordion-head .accordion-title {
  margin-top: 0;
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  position: relative;
  justify-content: start;
  align-items: start;
  gap: 24px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head {
    align-items: center;
    gap: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head {
    align-items: center;
    gap: 16px;
  }
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head .icon {
  width: 80px;
  height: 80px;
  background-color: #e0f780;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50px;
  font-size: 48px;
  line-height: 48px;
  transition: all 0.5s ease-out;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon {
    width: 60px;
    height: 60px;
  }
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head .icon:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(120deg, #7627f0 0%, #ff45c4 100%);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  visibility: hidden;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head .icon i {
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon i {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon i {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .icon i {
    font-size: 40px;
  }
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head .icon:before {
  content: "" !important;
}
.accordion-wrapper-two .accordion-list-item-two .accordion-head .accordion-title {
  margin-top: 16px;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #080f10;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .accordion-title {
    margin-top: 0;
    font-size: 24px;
    letter-spacing: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .accordion-title {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .accordion-wrapper-two .accordion-list-item-two .accordion-head .accordion-title {
    margin-top: 0;
  }
}
.accordion-wrapper-two .accordion-list-item-two .accordion-item-body {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #575959;
}

.mobile-menu-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-bar a i {
  color: #033f47;
  font-size: 22px;
}

.menu-sidebar-area {
  position: fixed;
  right: -485px;
  top: 0;
  width: 465px;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;
}
@media (max-width: 560px) {
  .menu-sidebar-area {
    width: 375px;
  }
}
.menu-sidebar-area .menu-sidebar-logo {
  display: inline-block;
  width: 180px;
}
.menu-sidebar-area .menu-sidebar-wrapper {
  position: relative;
  padding: 40px;
}
.menu-sidebar-area.active {
  right: 0;
}
.menu-sidebar-area .menu-sidebar-close {
  position: absolute;
  top: 35px;
  right: 45px;
}
.menu-sidebar-area .menu-sidebar-close .menu-sidebar-close-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 45px;
  width: 45px;
  background-color: #1eae98;
  color: #ffffff;
  border-radius: 50%;
}
.menu-sidebar-area .menu-sidebar-close .menu-sidebar-close-btn:hover {
  background-color: #035b7b;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget {
  display: inline-block;
  margin-top: 20px;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .menu-sidebar-title {
  margin-bottom: 5px;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .header-contact-info {
  display: flex;
  align-items: center;
  gap: 0 24px;
  padding: 6px 0;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .header-contact-info span {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #033f47;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 100%;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .header-contact-info span.contact-info-item {
  gap: 0 10px !important;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .header-contact-info span a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #033f47;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .header-contact-info span a:hover {
  color: #035b7b;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .social-profile a {
  color: #033f47;
  font-size: 22px;
}
.menu-sidebar-area .menu-sidebar-content .menu-sidebar-single-widget .social-profile a:hover {
  color: #035b7b;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.body-overlay.active {
  opacity: 1;
  visibility: visible;
}
.body-overlay:hover {
  cursor: pointer;
}

.mean-container .mean-nav {
  margin-top: 48px;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul:first-child {
  display: block !important;
}

.mean-bar .meanmenu-reveal {
  display: none !important;
}/*# sourceMappingURL=rakib-two.css.map */