* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #575959;
  vertical-align: baseline;
  line-height: 30px;
}

p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #080f10;
  font-style: normal;
  transition: all 0.5s ease-out;
}

h1 {
  font-size: 76px;
  line-height: 91px;
  font-weight: 600;
}

h2 {
  font-size: 57px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 43px;
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

h6 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

label {
  color: #575959;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

button {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a,
.button {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #1eae98;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a,
button {
  color: #1eae98;
  outline: medium none;
  transition: all 0.5s ease-out;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #035b7b;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #035b7b;
  text-shadow: none;
  color: #fff;
}

textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: #fcaf14;
}

.background-blue {
  background-color: #003869;
}

.background-skye {
  background-color: #1eae98;
}

.background-gray {
  background-color: #eef5f8;
}

.page-bg {
  background-color: #020a27;
}

.background-primary {
  background-color: #f8f8f1;
}

.page-area {
  padding-top: 100px;
  padding-bottom: 85px;
}

.theme-btn,
.wp-block-loginout a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #080f10;
  padding: 16.5px 32px;
  text-align: center;
  border-radius: 4px;
  background: #e0f780;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
.theme-btn:hover,
.wp-block-loginout a:hover {
  background: #071c34;
  color: #fff;
  border-color: #071c34;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.imgae-wrappe {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.pl-312 {
  padding-left: 312px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.custom-container {
  max-width: 1728px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.custom-slider-btn {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}
.custom-slider-btn a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.custom-slider-btn a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 21px;
  transition: all 0.5s ease-out;
}
.custom-slider-btn a:hover {
  background: #e0f780;
}
.custom-slider-btn a:hover i {
  color: #080f10;
  transition: all 0.5s ease-out;
}
.custom-slider-btn.style-two {
  margin-top: 0;
}
.custom-slider-btn.style-two a {
  border: 1px solid #828282;
}
.custom-slider-btn.style-two a i {
  color: #080f10;
}

.breadcrumb-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../images/Pattern.png");
  z-index: 3;
}

.faq-area-global {
  background-color: #f8f8f1;
  padding: 120px 0;
  position: relative;
}
.faq-area-global .faq-sketch {
  background: url("../../images/sketch-color.png");
  position: absolute;
  bottom: 201px;
  left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 169px;
  height: 169px;
}
.faq-area-global .shape-one {
  background: url("../../images/shape/Rectangle.png");
  position: absolute;
  left: 42px;
  bottom: 507px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .faq-area-global .shape-one {
    display: none;
  }
}
.faq-area-global .shape-two {
  background: url("../../images/shape/shape-2.png");
  position: absolute;
  right: 55px;
  top: 201px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .faq-area-global .shape-two {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .faq-area-global {
    padding: 100px 0;
  }
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.portfolio-card .portfolio-image {
  width: 100%;
  height: 100%;
}
.portfolio-card .portfolio-image img {
  width: 100%;
  height: 100%;
}
.portfolio-card .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.portfolio-card .content .icon {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  transform: translate(0, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #e0f780;
  align-items: center;
  justify-content: center;
}
.portfolio-card .content .icon i {
  font-size: 21px;
  line-height: 21px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card .content .icon {
    right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-card .content .icon {
    right: 20px;
  }
}
.portfolio-card .content .desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.portfolio-card .content h4,
.portfolio-card .content p {
  color: #ffffff;
}

.portfolio-card.style-two {
  gap: 0;
}
.portfolio-card.style-two .content {
  padding: 64px 40px;
  background: #f8f8f1;
}
.portfolio-card.style-two .content .icon {
  display: flex;
}
.portfolio-card.style-two .content h4,
.portfolio-card.style-two .content p {
  color: #080f10;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card.style-two .content {
    padding: 50px 22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-card.style-two .content {
    padding: 50px 22px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-card.style-two .content {
    padding: 50px 22px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio-card.style-two {
    margin-top: 24px;
  }
}

.image-card {
  display: flex;
  align-items: center;
  gap: 24px;
}
.image-card .content {
  padding-right: 111px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}
.image-card .content .title {
  position: relative;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content .title {
    font-size: 46px;
  }
}
.image-card .content .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content .desc {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .content {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .content {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image-card .content {
    width: 100%;
    padding-right: 0;
  }
}
.image-card .image-card-btn span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
}
.image-card .image {
  width: 50%;
  height: 100%;
  position: relative;
}
.image-card .image .image-card-sketch {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  width: 79%;
  height: 91%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .image .image-card-sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .image .image-card-sketch {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image-card .image .image-card-sketch {
    display: none;
  }
}
.image-card .image img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card .image {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card .image {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image-card .image {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card {
    flex-direction: column-reverse;
  }
}

.image-card.style-two {
  flex-direction: row-reverse;
  gap: 64px;
}
.image-card.style-two .content {
  padding-right: 30px;
}
.image-card.style-two .content .title {
  font-size: 43px;
  line-height: 53px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-two {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card.style-two {
    flex-direction: column-reverse;
  }
}

.image-card.style-three {
  flex-direction: row-reverse;
  gap: 64px;
}
.image-card.style-three .content {
  padding-right: 30px;
}
.image-card.style-three .content .title {
  font-size: 43px;
  line-height: 52px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-three .content .title {
    font-size: 38px;
  }
}
.image-card.style-three .content .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .image-card.style-three {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-card.style-three {
    flex-direction: column-reverse;
  }
}

.team-member-card.style-two .image {
  border-radius: 0 0 500px 500px;
  overflow: hidden;
}
.team-member-card.style-two .content-wrapper {
  padding: 24px 0 0 0;
}
.team-member-card.style-two .content-wrapper .user-info h4 {
  margin-bottom: 8px;
}
.team-member-card.style-two .content-wrapper .user-info p {
  font-size: 18px;
  line-height: 31px;
}
.team-member-card.style-two .content-wrapper .social {
  display: none;
}
.team-member-card.style-two:hover .content-wrapper {
  background: none;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  top: 0;
}
.team-member-card.style-two:hover .content-wrapper .user-info h4 {
  color: #080f10;
}
.team-member-card.style-two:hover .content-wrapper .user-info p {
  color: unset;
}

.portfolio-card.style-three {
  gap: 0;
}
.portfolio-card.style-three .content {
  background: #ffffff;
  padding: 42px 49px 44px 49px;
}
.portfolio-card.style-three .content .icon {
  display: flex;
  border-radius: 4px;
  background: #033f47;
  bottom: 50px;
  right: 50px;
  top: unset;
}
.portfolio-card.style-three .content .icon i {
  color: #ffffff;
}
.portfolio-card.style-three .content h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
.portfolio-card.style-three .content h4,
.portfolio-card.style-three .content p {
  color: #080f10;
}

.icon-card.style-five {
  flex-direction: row;
  align-items: start;
  padding: 0;
  justify-content: start;
  gap: 16px;
}
.icon-card.style-five .icon {
  background: #e0f780;
  width: 64px;
  height: 64px;
  border: none;
}
.icon-card.style-five .icon i {
  font-size: 24px;
  color: #000;
}
.icon-card.style-five .content {
  gap: 4px;
}
.icon-card.style-five .content .title {
  text-align: start;
}
.icon-card.style-five .content .desc {
  text-align: start;
}

.icon-card.style-six {
  background: #f8f8f1;
  padding: 55px 38px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .icon-card.style-six {
    padding: 30px 16px;
  }
}

.portfolio_card_wrapper {
  position: relative;
}
.portfolio_card_wrapper .slick-list {
  margin-left: 175px;
}
.portfolio_card_wrapper .slick-list .slick-slide {
  margin: 0 12px;
  transition: all 0.5s ease-out;
}
.portfolio_card_wrapper .slick-list .slick-slide.slick-active {
  transition: all 0.5s ease-out;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio_card_wrapper .slick-list .slick-slide {
    margin: 0 20px 0 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio_card_wrapper .slick-list {
    margin-left: 48px;
  }
}
.portfolio_card_wrapper button.info-card-arrow-btn {
  display: none !important;
}

.project-page-project-sec {
  padding: 120px 0;
  position: relative;
}
.project-page-project-sec .project-view-type {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.project-page-project-sec .project-view-type button {
  padding: 16px 24px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #080f10;
}
.project-page-project-sec .project-view-type button:hover {
  background-color: #080f10;
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .project-view-type button {
    padding: 12px 18px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .project-view-type button {
    flex-wrap: wrap;
  }
}
.project-page-project-sec .sketch {
  background: url("../../images/sketch-color.png");
  position: absolute;
  left: 83px;
  top: 84px;
  background-position: center;
  background-repeat: no-repeat;
  width: 169px;
  height: 169px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .project-page-project-sec .sketch {
    display: none;
  }
}

/* Project-details CSS */
.project-details-info {
  padding-top: 120px;
  background: #f8f8f1;
}

.project-info-widget-wrapper {
  padding-right: 200px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-info-widget-wrapper {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-info-widget-wrapper {
    padding-right: 0;
  }
}
.project-info-widget-wrapper .project-info-widget {
  background: #e0f780;
  padding: 60px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.project-info-widget-wrapper .project-info-widget .project-info-sketch {
  position: absolute;
  width: 109px;
  height: 109px;
  top: 0;
  left: 0;
  transform: translate(-72%, -72%);
  background-image: url("../../images/image-card-sketch.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-info-widget-wrapper .project-info-widget .project-info-sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-info-widget-wrapper .project-info-widget .project-info-sketch {
    display: none;
  }
}
.project-info-widget-wrapper .project-info-widget .info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-info-widget-wrapper .project-info-widget .info-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #575959;
}

.project-banner {
  padding: 29px;
  border-left: 5px solid #033f47;
}
.project-banner p {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #080f10;
}
.project-banner.style-two {
  padding: 5px;
}
.project-banner.style-two p {
  font-size: 24px;
  line-height: 34px;
}

.project-details-gallery {
  margin-top: 117px;
}

.color-card-section {
  margin-top: 24px;
}
.color-card-section .color-card-one {
  height: 250px;
  background-color: #000;
}
.color-card-section .color-card-two {
  height: 250px;
  background-color: #e0f780;
}
.color-card-section .color-card-three {
  height: 250px;
  background-color: #033f47;
}
.color-card-section .color-card-four {
  height: 250px;
  background-color: #f8f8f1;
}

.project-text-banner {
  padding: 0 76px;
}
.project-text-banner p {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #080f10;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-text-banner {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-text-banner {
    padding: 0 20px;
  }
}

.video-banner {
  margin-top: 120px;
}

.number-card-wrapper .number-card {
  padding: 76px 0 77px 0;
  background-color: #033f47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.number-card-wrapper .number-card h4 {
  color: #ffffff;
}
.number-card-wrapper .number-card p {
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
}

.project-slider-wrapper {
  height: 700px;
}
.project-slider-wrapper .image-wrapper {
  height: 100%;
}
.project-slider-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
}
.project-slider-wrapper .slick-list {
  height: 100%;
  padding: 0 !important;
}
.project-slider-wrapper .slick-track {
  height: 100%;
}
.project-slider-wrapper .slick-center {
  width: 612px !important;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-slider-wrapper .slick-center {
    width: 370px !important;
  }
}
.project-slider-wrapper .slick-slide {
  margin: 0 12px;
  height: 100%;
  width: 306px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-slider-wrapper .slick-slide {
    width: 220px;
  }
}
.project-slider-wrapper button {
  display: none !important;
}

.service-details-offer .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #080f10;
  margin-top: 16px;
}

.service-details-about {
  padding: 120px 0;
  background-color: #033f47;
  position: relative;
}
.service-details-about .service-details-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../images/Pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-info-sketch {
  position: absolute;
  width: 109px;
  height: 109px;
  top: 0;
  left: 0;
  transform: translate(-72%, -72%);
  background-image: url("../../images/image-card-sketch.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .project-info-sketch {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-info-sketch {
    display: none;
  }
}

.contackt-faq-btn-wrapper {
  display: flex;
  align-items: center;
}
.contackt-faq-btn-wrapper .contact-faq-btn {
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #575959;
}
.contackt-faq-btn-wrapper .contact-faq-btn span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #080f10;
}/*# sourceMappingURL=rakib-two.css.map */