.icon-card {
    &.style-seven {
        background-color: $icon-color;
        flex-direction: row;
        padding: 26px 0;
        gap: 16px;
        margin-top: 54px;
        cursor: pointer;
        border: 1px solid transparent;
        @include transition;
        .icon {
            background: $brand;
            width: 80px;
            height: 80px;
            i {
                color: $icon-color;
            }
        }
        .content {
            .title {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0.02em;
                color: $white;
            }
            @include sm {
                flex-direction: column;
            }
        }
        &.active {
            background-color: $background;
            border-color: $icon-color;
            .content {
                .title {
                    color: $title-color;
                }
            }
        }
    }
}
