.icon-card {
    &.style-three {
        flex-direction: row;
        background: $background;
        padding: 40px 40px 40px 32px;
        .icon {
            .icon-color {
                width: 39px;
                height: 39px;
                top: 0;
                left: unset;
                transform: translate(0, 50%);
            }
        }
        .content {
            gap: 8px;
            .title {
                text-align: start;
            }
            .desc {
                text-align: start;
                padding: 0;
            }
        }
        @include sm {
            flex-direction: column;
            .icon {
                width: 80px;
                height: 80px;
            }
        }
        @include lg {
            padding: 24px;
            .icon {
                width: 80px;
                height: 80px;
            }
        }
    }
}
