@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gpc86a");
  src: url("../fonts/icomoon.eot?gpc86a#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?gpc86a") format("truetype"), url("../fonts/icomoon.woff?gpc86a") format("woff"),
    url("../fonts/icomoon.svg?gpc86a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-accountability:before {
  content: "\e915";
}
.icon-business-analysis:before {
  content: "\e916";
}
.icon-commitment:before {
  content: "\e917";
}
.icon-human-resources:before {
  content: "\e918";
}
.icon-innovation:before {
  content: "\e919";
}
.icon-operation:before {
  content: "\e91a";
}
.icon-ownership:before {
  content: "\e91b";
}
.icon-process-development:before {
  content: "\e91c";
}
.icon-project-manangement:before {
  content: "\e91d";
}
.icon-quality-assurance:before {
  content: "\e91e";
}
.icon-team-work:before {
  content: "\e91f";
}
.icon-transparency:before {
  content: "\e920";
}
.icon-Analysis:before {
  content: "\e921";
}
.icon-Execution:before {
  content: "\e922";
}
.icon-Launch:before {
  content: "\e923";
}
.icon-commitment-color .path1:before {
  content: "\e924";
  color: rgb(224, 247, 128);
}
.icon-commitment-color .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(3, 63, 71);
}
.icon-process-development-color .path1:before {
  content: "\e926";
  color: rgb(224, 247, 128);
}
.icon-process-development-color .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(3, 63, 71);
}
.icon-process-development-color .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(3, 63, 71);
}
.icon-process-development-color .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(3, 63, 71);
}
.icon-briefcase-color .path1:before {
  content: "\e92a";
  color: rgb(224, 247, 128);
}
.icon-briefcase-color .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(3, 63, 71);
}
.icon-facebook:before {
  content: "\e92c";
}
.icon-instagram-2:before {
  content: "\e92d";
}
.icon-linkedin:before {
  content: "\e92e";
}
.icon-pinterest:before {
  content: "\e92f";
}
.icon-twitter:before {
  content: "\e930";
}
.icon-youtube:before {
  content: "\e931";
}
.icon-angle-down-6:before {
  content: "\e902";
}
.icon-angle-right-7:before {
  content: "\e903";
  color: #575959;
}
.icon-arrow-down-long-2:before {
  content: "\e904";
}
.icon-arrow-left-2:before {
  content: "\e905";
}
.icon-arrow-right-2:before {
  content: "\e906";
}
.icon-calendar-minus-2:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-clock-2:before {
  content: "\e909";
}
.icon-comments-2:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-location-dot-4:before {
  content: "\e90c";
}
.icon-location-dot-5:before {
  content: "\e90d";
}
.icon-magnifying-glass-2:before {
  content: "\e90e";
}
.icon-minus-2:before {
  content: "\e90f";
}
.icon-phone-3:before {
  content: "\e910";
}
.icon-phone-volume-2:before {
  content: "\e911";
}
.icon-play-5:before {
  content: "\e912";
}
.icon-plus-2:before {
  content: "\e913";
}
.icon-user-2:before {
  content: "\e914";
}
.icon-calender:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}

.icon-check_trans:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e929";
}
.icon-dev1:before {
  content: "\e928";
  color: #4566d4;
}
.icon-mob-dev .path1:before {
  content: "\e900";
  color: rgb(247, 207, 71);
}
.icon-mob-dev .path2:before {
  content: "\e901";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path3:before {
  content: "\e902";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path4:before {
  content: "\e903";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path5:before {
  content: "\e904";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path6:before {
  content: "\e905";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path7:before {
  content: "\e906";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path8:before {
  content: "\e907";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path9:before {
  content: "\e908";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path10:before {
  content: "\e909";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-mob-dev .path11:before {
  content: "\e90a";
  margin-left: -0.759765625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path1:before {
  content: "\e90b";
  color: rgb(247, 207, 71);
}
.icon-dev .path2:before {
  content: "\e90c";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path3:before {
  content: "\e90d";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path4:before {
  content: "\e90e";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path5:before {
  content: "\e90f";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path6:before {
  content: "\e910";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path7:before {
  content: "\e911";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path8:before {
  content: "\e912";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path9:before {
  content: "\e913";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path10:before {
  content: "\e914";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path11:before {
  content: "\e915";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path12:before {
  content: "\e916";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path13:before {
  content: "\e917";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path14:before {
  content: "\e918";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-dev .path15:before {
  content: "\e919";
  margin-left: -1.0869140625em;
  color: rgb(4, 20, 78);
}
.icon-speaker .path1:before {
  content: "\e91a";
  color: rgb(247, 207, 71);
}
.icon-speaker .path2:before {
  content: "\e91b";
  margin-left: -1.111328125em;
  color: rgb(4, 20, 78);
}
.icon-speaker .path3:before {
  content: "\e91c";
  margin-left: -1.111328125em;
  color: rgb(4, 20, 78);
}
.icon-speaker .path4:before {
  content: "\e91d";
  margin-left: -1.111328125em;
  color: rgb(4, 20, 78);
}
.icon-speaker .path5:before {
  content: "\e91e";
  margin-left: -1.111328125em;
  color: rgb(4, 20, 78);
}
.icon-meachine:before {
  content: "\e91f";
  color: #4566d4;
}
.icon-software:before {
  content: "\e920";
  color: #4566d4;
}
.icon-it-manage:before {
  content: "\e921";
  color: #4566d4;
}
.icon-setting:before {
  content: "\e922";
  color: #4566d4;
}
.icon-cloud:before {
  content: "\e923";
  color: #4566d4;
}
.icon-desktop:before {
  content: "\e924";
  color: #4566d4;
}
.icon-desk-setting:before {
  content: "\e925";
  color: #4566d4;
}
.icon-cloud-2:before {
  content: "\e926";
  color: #4566d4;
}
.icon-data:before {
  content: "\e927";
  color: #4566d4;
}
