// Variable
@import "variables";
@import "_mixin.scss";
@import "partials/theme-default";

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.imgae-wrappe {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.slider-btn-wrapper {
    margin-top: 48px;
    display: flex;
    gap: 16px;
    @include sm {
        margin-top: 30px;
    }

    .slider-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 16.5px 32px;
        text-align: center;
        border-radius: 4px;
        text-transform: capitalize;
        font-family: $body-font;
        font-size: 18px;
        line-height: 31px;
        font-weight: 400;
        position: relative;
        z-index: 1;
        color: $white;
        background: transparent;
        border: 1px solid $white;
        &.active {
            background: $brand;
            color: $title-color;
            border: 1px solid transparent;
            &:hover {
                background: transparent;
                color: $white;
                border: 1px solid $white;
            }
        }
        &:hover {
            background: $brand;
            color: $title-color;
            border-color: transparent;
        }
        @include sm {
            padding: 8px 16px;
            font-size: 14px;
        }
    }
    &.style-two {
        justify-content: center;
        .slider-btn {
            border-color: $text-color;
            color: $title-color;
            &.active {
                border-color: transparent;
                &:hover {
                    border-color: $text-color;
                    color: $title-color;
                }
            }
            &:hover {
                border-color: transparent;
            }
        }
    }
}

.pl-312 {
    padding-left: 312px;
}

.mt-64 {
    margin-top: 64px;
}
.mt-lg-64 {
    @include lg {
        margin-top: 64px;
    }
}
.mt-48 {
    margin-top: 48px;
}
.mt-36 {
    margin-top: 36px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-12 {
    margin-top: 12px;
}
.mb-64 {
    margin-bottom: 64px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mt-16 {
    margin-top: 16px;
}

.custom-container {
    max-width: 1728px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-shape {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/Pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
}
.faq-area-global {
    background-color: $background;
    padding: 120px 0;
    position: relative;
    .faq-sketch {
        background: url("../images/sketch-color.png");
        position: absolute;
        bottom: 201px;
        left: 30px;
        background-position: center;
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
    }
    .shape-one {
        background: url("../images/shape/Rectangle.png");
        position: absolute;
        left: 42px;
        bottom: 507px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-two {
        background: url("../images/shape/shape-2.png");
        position: absolute;
        right: 55px;
        top: 201px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    @include sm {
        padding: 100px 0;
    }
}

.custom-container-60 {
    width: 100%;
    overflow: hidden;
    padding-right: 0;
    @include sm {
        padding: 0 12px;
        width: 100%;
    }
}

.slider-container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include sm {
        padding: 0 12px;
    }
}

// background-color
.bg-icon {
    background-color: $icon-color;
}
.bg-gray {
    background-color: $background;
}

// Portfolio-card
@import "modules/portfolio-card/portfolio";

// Portfolio-card
@import "modules/portfolio-card/portfolio-two";

// Portfolio-card style-three
@import "modules/portfolio-card/portfolio-three";

// Image-card
@import "modules/image-card/image-card";

// Image-card style-two
@import "modules/image-card/image-card-two";

// Image-card style-three
@import "modules/image-card/image-card-three";

// team-member-card style-two
@import "modules/team-member-card/team-member-two";

// Icon-card style-five
@import "modules/icon-card/icon-card-five";

// Icon-card style-six
@import "modules/icon-card/icon-card-six";

// Icon-card style-seven
@import "modules/icon-card/icon-card-seven";

// Portfolio-card-slider-control
@import "modules/portfolio-card-slider-control";

// Project-page
@import "pages/project-page";

/* Project-details CSS */
@import "pages/project-details";

// Service-details-page
@import "pages/service-details";

// Contact-page
@import "pages/contact-page";

// Testimonial-card style-two
@import "modules/testimonial-card/testimonial-card-two";

// Testimonial-card style-three
@import "modules/testimonial-card/testimonial-card-three";

// about-info-card
@import "modules/about-info-card";

// Custom slider button
@import "modules/custom-slider-btn";

// slider style-two home-two
@import "modules/slider/slider-style-two";

// accordion style-two
@import "modules/accordion/accordion-two";

// Menu sidebar
@import "partials/menu-sidebar";

// Mobile menu hide
.mean-bar {
    .meanmenu-reveal {
        display: none !important;
    }
}
