// Variable
@import "variables";
@import "_mixin.scss";
@import "partials/theme-default";

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.imgae-wrappe {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.pl-312 {
    padding-left: 312px;
}

.mb-64 {
    margin-bottom: 64px;
}

.custom-container {
    max-width: 1728px;
    margin: 0 auto;
}

// Portfolio-card
@import "modules/portfolio";

// Portfolio-card
@import "modules/portfolio-two";

// Image-card
@import "modules/image-card";

// team-member-card style-two
@import "modules/team-member-two";

// Portfolio-card style-three
@import "modules/portfolio-three";

// Portfolio-card style-three
@import "modules/icon-card-five";

// Portfolio-card style-three
@import "modules/icon-card-six";

// Portfolio-card-slider-control
@import "modules/portfolio-card-slider-control";
