/* variable */
@import "variables";
@import "_mixin.scss";
@import "partials/theme-default";

// global-overwrite
@import "modules/global-overwrite";

$text-primary: #4566d4;
$text-gray-light: #6a6c73;

/* Pricing CSS */
@import "modules/pricing";

/* Articles CSS */
@import "modules/articles";

/* Testimonial card CSS */
@import "modules/testimonial-card/testimonial-card";

/* Footer CSS */
@import "partials/footer-two";

// icon-card style-one
@import "modules/icon-card/icon-card";

// icon-card style-two
@import "modules/icon-card/icon-card-two";

// icon-card style-three
@import "modules/icon-card/icon-card-three";

// icon-card style-three
@import "modules/icon-card/icon-card-four";

// price-card
@import "modules/price-card";

// Process-step-card
@import "modules/process-step";

// Post-card
@import "modules/post-card/post-card-two";

/* Team-member-card style-one CSS */
@import "modules/team-member-card/team-member";

/* Nav-tab style-one CSS */
@import "modules/nav-tabs";

/* Service-details side-bar CSS */
@import "partials/sidebar-two";

/* Client-logo CSS */
@import "modules/client-logo/client-logo-two";

/* List-item CSS */
@import "modules/list-item";

/* Service-page CSS */
@import "pages/service-page";

/* Pricing-page CSS */
@import "pages/pricing-page";

/* Blog-page CSS */
@import "pages/blog-page";

.common-card-wrapper {
  background: #4566d4;
  padding: 100px 50px;
}
.testimonial-cards {
  background: #eef5f8;
  padding: 50px 0;
}
.process-wrapper-two {
  background: #393d48;
  padding: 50px;
}

.icon-card-wrapper-two {
  padding: 70px;
  border-radius: 8px;
  overflow: hidden;
  background: #2c3236;
}
