.post-card-one {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include sm {
    margin-bottom: 24px;
  }
  @include md {
    margin-bottom: 24px;
  }
  .post-image {
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1.01);
      @include transition;
    }
  }
  .content-wrapper {
    background: $white;
    padding: 32px 32px 48px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include sm {
      padding: 24px;
    }
    .post-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .post-meta {
        display: flex;
        gap: 16px;
        align-items: center;
        .meta-info {
          padding: 8px 16px 8px 0;
          display: inline-flex;
          align-items: center;
          gap: 8px;
          span {
            line-height: 21px;
            i {
              font-size: 16px;
              line-height: 16px;
              color: $title-color;
            }
          }
          p {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .title {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    button {
      flex-shrink: 0;
    }
  }
  &:hover {
    .post-image {
      img {
        transform: scale(1.04);
      }
    }
  }
}
