.post-card-one {
    &.style-two {
        overflow: hidden;
        .post-image {
            transform: scale(1);
            overflow: hidden;
            @include transition;
        }
        .content-wrapper {
            overflow: hidden;
            background: $background;
            padding: 24px 25px 32px 24px;
            gap: 32px;
            .post-content {
                gap: 8px;
                .post-meta {
                    gap: 8px;
                    .meta-info {
                        padding: 4px 8px 4px 0;
                        span {
                            i {
                                font-weight: 600;
                            }
                        }
                        p {
                            font-size: 16px;
                            line-height: 27px;
                            font-family: $body-font;
                            @include sm {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .title {
                    font-size: 24px;
                    line-height: 34px;
                }
            }
            .post-card-btn {
                border: 1px solid #828282;
                background: transparent;
                &:hover {
                    color: $title-color;
                    background: $brand;
                }
            }
        }
        &:hover {
            .post-image {
                transform: scale(1.05);
            }
        }
    }
}
