.client-logo {
  padding-top: 20px;
  padding-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  @include transition;
  img {
    // opacity: 0.65;
    @include transition;
  }
  svg {
    path {
      fill: $white;
      @include transition;
    }
  }
  &:hover {
    transform: scale(1.05);
    svg {
      path {
        fill: $brand;
      }
    }
  }
}
