.footer {
  &.style-two {
    .footer-sec {
      .footer-bottom-border {
        border-bottom: 1px solid #085a65;
        padding-bottom: 40px;
      }
    }
    .footer-bottom-area {
      padding: 28px 0;
    }
    // Subscribe Form
    .subscribe-form-wrapper {
      @include md {
        width: 100%;
      }
      .single-fiel p {
        color: $white-100;
        margin-bottom: 35px;
      }
      .subscribe-form-widget {
        border-radius: 6px;
      }
    }
    .footer-widget-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: $background;
    }
    .footer-widget {
      .footer-widget-menu {
        li {
          line-height: 34px;
          a {
            color: $white;
            &:hover {
              color: $brand !important;
            }
          }
        }
      }
      .footer-widget-contact {
        .footer-contact {
          ul {
            li {
              .contact-text {
                a {
                  color: $white;
                }
              }
              .contact-icon {
                border-color: $white;
                flex-shrink: 0;
                @include transition;
                i {
                  color: $brand;
                }
              }
              &:hover {
                .contact-icon {
                  border-color: transparent;
                  i {
                    color: $title-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .copyright-text {
      p {
        color: $white;
        font-size: 14px;
        span {
          color: $brand;
        }
      }
    }
    .footer-bottom-menu ul li a {
      color: $white;
      font-size: 14px;
      &:hover {
        color: $brand;
        text-decoration-color: $brand;
      }
    }
  }
}
