.footer {
  &.style-two {
    // Subscribe Form
    .subscribe-form-wrapper {
      p {
        color: $white-100;
        margin-bottom: 35px;
      }
      .subscribe-form-widget {
        border-radius: 6px;

        .single-field {
          input {
            // height: 60px;
          }
        }
      }
    }
    .footer-widget-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: $background;
    }
    .footer-widget {
      .footer-widget-menu {
        li {
          a {
            color: $white;
            &:hover {
              color: $brand !important;
            }
          }
        }
      }
      .footer-widget-contact {
        .footer-contact {
          ul {
            li {
              .contact-text {
                a {
                  color: $white;
                }
              }
              .contact-icon {
                border-color: $white;
                @include transition;
                i {
                  color: $brand;
                }
              }
              &:hover {
                .contact-icon {
                  border-color: transparent;
                  i {
                    color: $title-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer-bottom-area {
      border-top: 1px solid #085a65;
    }
    .copyright-text {
      p {
        color: $white;
      }
    }
    .footer-bottom-menu ul li a {
      color: $white;
      &:hover {
        color: $brand;
      }
    }
  }
}
