
.header-area {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
// Start Header Nav
.header-sec {
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease 0s;
  position: relative;
  padding-right: 96px;
  padding-left: 96px; 


  &.sticky-header {
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease 0s;
  }

  &.sticky_menu {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
  }
}




.main-menu {
  ul {
    margin: 0;
    padding: 0;
    position: relative;
    li {
      display: inline-block;
      padding: 0;
      position: relative;

      &.active {
        position: relative;
        > a {
          color:$brand;

          //&:before {
          //  border-color: $orange-color;
          //}
          &:after {
            position: absolute;
            content: "";
            height: 3px;
            width: 18px;
            background-color: $orange-color;
            bottom: 40px;
            left: 15px;
          }
        }
      }
      &.dropdown {
        > a {
          //padding-right: 30px;

          //&:before {
          //  visibility: visible;
          //}
        }
        .dropdown {
          > a {
            //&:before {
            //  visibility: visible;
            //  right: 15px;
            //  transform: rotate(-45deg);
            //}
          }
        }
      }

      ul {
        &.submenu {
          li {
            &.active {
              > a {
                position: relative;
                z-index: 2;
                color: $white;

                //&:before {
                //  border-color: $white;
                //}
                &:after {
                  height: 100%;
                  top: 0;
                  left: 0;
                  border-radius: 0;
                  z-index: -1;
                }
              }
            }
          }
        }
      }
      a {
        display: block;
        padding: 45px 20px;
        text-decoration: none;
        text-transform: capitalize;
        @include transition;
        position: relative;
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 400;

        //&:before {
        //  position: absolute;
        //  content: "";
        //  transform: rotate(45deg);
        //  border: solid $secondary-color;
        //  border-width: 0 1px 1px 0;
        //  display: inline-block;
        //  padding: 3px;
        //  margin-top: -5px;
        //  top: 50%;
        //  right: 15px;
        //  visibility: hidden;
        //}
        &:hover {
          color: $orange-color;

          //&:before {
          //  border-color: $orange-color;
          //}
        }
      }
      &:hover {
        > ul {
          visibility: visible;
          @include transition;
          opacity: 1;
          transform: scaleY(1);
        }
      }
      ul {
        li {
          &:hover {
            ul {
              visibility: visible;
              top: -2px;

              ul {
                ul {
                  left: 0;
                  top: 40px;
                }
              }
            }
          }
        }
      }
    }
    ul {
      background-color: $white;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: left;
      top: 100%;
      visibility: hidden;
      z-index: 99999;
      @include transition;
      border-top: 2px solid $orange-color;
      box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
      transform-origin: top;
      transform: scaleY(0);

      li {
        float: none;
        width: 210px;

        ul {
          visibility: hidden;
        }
        i {
          float: right;
        }

        a {
          line-height: 120%;
          padding: 10px 20px;
          color: $secondary-color;
          border-bottom: 1px solid $gray-200;
          margin-left: 0;
          &:hover {
            background-color: $orange-color;
            color: $white;

            //&:before {
            //  border-color: $white;
            //}
          }
        }
        &:last-child a {
          border-bottom: 0px;
        }
      }
      ul {
        left: 100%;
        transition: all 0.3s ease 0s;
        opacity: 0;
        border-top: 0px;
        border-top: 2px solid $orange-color;
      }
    }
  }
}

.animation {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideUpIn {
  -webkit-animation-name: slideUpIn;
  animation-name: slideUpIn;
}


// Header Button Area
.header-btn {

  @media only screen and (max-width: 1399px) {
    display: none;
  }
  .header-top-btn{
    a{
      background: $white;
      color: $title-color;
      padding:16px 12px;
      font-weight: 500;
      position: relative;
      z-index: 1;
      transition: 0.3s;
      font-size: 18px;
      gap: 10px;
      border-radius: 50px;
     font-family: $heading-font;

    }
    i{
      vertical-align: middle;
      display: inline-block;
      margin-right: 2px;
      line-height: 1;
      background: $brand;
      padding: 11px;
      border-radius: 50%;

    }
  }

  
  @media only screen and (max-width: 1199px) {
    display: none;
  }
}
