.portfolio-card {
  &.style-two {
    gap: 0;
    overflow: hidden;
    .content {
      padding: 64px 40px;
      background: $background;
      margin-top: 0;
      .icon {
        display: flex;
      }
      h4,
      p {
        color: $title-color;
      }
      @include sm {
        padding: 50px 22px;
      }
      @include md {
        padding: 50px 22px;
      }
      @include lg {
        padding: 50px 22px;
      }
    }
    &:hover {
      .portfolio-image {
        transform: scale(1.03);
        filter: unset;
      }
    }
    @include sm {
      margin-top: 24px;
    }
  }
}
