// page-breadcrumb-sec
.page-breadcrumb-sec {
  .sketch {
    background: url("../images/title-sketch.png");
    position: absolute;
    top: 153px;
    left: 11px;
    background-position: center;
    background-repeat: no-repeat;
    width: 169px;
    height: 169px;
    @include sm {
      display: none;
    }
  }
}

// About Us Area
.about-page-about-us-area {
  padding: 120px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}
// Counter Area
.about-page-counter-area {
  padding: 120px 0 104px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include icon-gradient-color;
  }
  .theme-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .counter-sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/title-sketch.png");
      width: 200px;
      height: 200px;
      bottom: 246px;
      right: 104px;
      z-index: 2;
    }
  }
  @include rmaxwd(991) {
    padding: 100px 0;
  }
}

// Our service area
.about-us-our-service-area {
  padding: 120px 0;
  position: relative;
  .sketch {
    background: url("../images/sketch-color.png");
    position: absolute;
    left: 40px;
    bottom: 48px;
    background-position: center;
    background-repeat: no-repeat;
    width: 169px;
    height: 169px;
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
    @include lg {
      display: none;
    }
  }
}

// FAQ Area
.about-page-faq-area {
  padding: 120px 0;
  background: $background;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/Rectangle.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 49px;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-2.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 347px;
      right: 48px;
    }
  }
  .sketch {
    @include rwd(1440) {
      background: url("../images/sketch-color.png");
      position: absolute;
      left: 30px;
      bottom: 201px;
      background-position: center;
      background-repeat: no-repeat;
      width: 169px;
      height: 169px;
    }
  }
  @include sm {
    padding: 80px 0;
  }

  @include rmaxwd(991) {
    padding: 80px 0;
  }

  .video-popup-card.style-three {
    margin-left: 160px;

    @include rmaxwd(1199) {
      margin-left: 0;
      margin-top: 80px;
    }
  }
}

// Timeline Area
.about-page-portfolio-area {
  background-color: $icon-color;
  padding: 120px 0;
  position: relative;
  .sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/title-sketch.png");
      width: 200px;
      height: 200px;
      bottom: 9px;
      left: 27px;
      z-index: 2;
    }
  }
  .portfolio-card-arrow-btn {
    display: none !important;
  }
}
// Team-member area
.about-page-team-area {
  padding: 120px 0;
  position: relative;
  .sketch {
    @include rwd(1440) {
      background: url("../images/sketch-color.png");
      position: absolute;
      right: 32px;
      bottom: 79px;
      background-position: center;
      background-repeat: no-repeat;
      width: 169px;
      height: 169px;
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}
.about_team_member_container {
  max-width: 1376px;
  margin: 0 auto;
  width: 100%;
  @include sm {
    max-width: 100%;
    padding: 0 12px;
  }
  @include md {
    max-width: 100%;
    padding: 0 12px;
  }
  @include lg {
    max-width: 980px;
  }
}
.about_us_team_member {
  position: relative;
  .slick-list {
    .slick-slide {
      margin: 0 12px;
      @include transition;

      &.slick-active {
        @include transition;
      }
      @include lg {
        margin: 0 16px;
      }
    }
  }
  // Slick Nav Arrow Button
  button.team-card-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid #828282;
    cursor: pointer;
    top: -164px;
    overflow: hidden;
    @include transition;
    @include sm {
      bottom: 28px;
      top: unset;
    }
    @include md {
      top: unset;
      bottom: 28px;
    }
    // @include lg {
    //   top: unset;
    //   bottom: -80px;
    // }

    &.prev-btn {
      right: 88px;
      @include sm {
        right: unset;
        left: 32px;
      }
      @include md {
        right: unset;
        left: 12px;
      }
      // @include rmaxwd(767) {
      //   right: unset;
      //   left: 30px;
      // }
    }
    &.next-btn {
      right: 12px;
      @include rmaxwd(767) {
        right: 32px;
        left: unset;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $title-color;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      background: $brand;
      border-color: transparent;
      i {
        color: $title-color;
        @include transition;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 64px;
    list-style: none;
    margin-bottom: 0;
    li {
      line-height: 0;
      button {
        width: 8px;
        height: 8px;
        font-size: 0;
        border-radius: 50px;
        padding: unset;
        background-color: #bdbdbd;
      }
      &.slick-active {
        button {
          background: $title-color;
        }
      }
    }
    @include sm {
      margin-top: 40px;
    }
  }
}
