.blog-main-wrapper {
    padding: 120px 0;
    @include sm {
        padding: 80px 0;
    }
    @include md {
        padding: 100px 0;
    }
}
.blogs-wrapper {
    padding-right: 62px;
    @include rmaxwd(991) {
        padding-right: 12px;
        padding-left: 12px;
    }
}

.blog-load-btn {
    padding: 20px 35px;
    background: $orange-color;
    color: $white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 6px;
}

// Blog-details page

.blog-details-area {
    padding: 120px 0;
    @include sm {
        padding: 80px 0;
    }
}
