// contact info section
.contact-page-contact-info {
    padding: 120px 0;
    @include sm {
        padding: 80px 0;
    }
}

// contact-info
.contact-info-card-wrapper {
    display: flex;
    align-items: center;
    gap: 64px;
    @include sm {
        flex-direction: column;
        gap: 48px;
    }
    @include md {
        flex-direction: column;
        align-items: start;
    }
    @include lg {
        gap: 24px;
        margin-left: 28px;
    }
    .image-wrapper {
        position: relative;
        @include lg {
            width: 50%;
        }
        .project-info-sketch {
            position: absolute;
            width: 109px;
            height: 109px;
            top: 0;
            left: 0;
            transform: translate(-72%, -72%);
            background-image: url("../images/shape/image-card-sketch.png");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 5;
            animation: MoveUpDown 2s linear infinite alternate;
            @include sm {
                display: none;
            }
            @include md {
                display: none;
            }
        }
    }
    .contact-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include sm {
            gap: 12px;
        }
        @include md {
            gap: 12px;
        }
        @include rwd(1024) {
            margin-top: 48px;
        }
    }
}

// contact form area
.contact-form-area {
    padding: 120px 0;
    background-color: $background;
    position: relative;
    @include sm {
        padding: 80px 0;
    }
    @include md {
        padding: 80px 0;
    }
    .sketch {
        @include rwd(1440) {
            background-image: url("../images/sketch-color.png");
            width: 169px;
            height: 169px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            bottom: 19px;
            right: 78px;
            animation: MoveUpDown 2s linear infinite alternate;
        }
    }
}

.contackt-faq-btn-wrapper {
    display: flex;
    align-items: center;
    .contact-faq-btn {
        padding: 16px 24px;
        border-radius: 4px;
        border: 1px solid $text-color;
        span {
            font-family: $body-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            text-align: center;
            color: $title-color;
        }
    }
}
