.home-two-about-us-area {
  padding: 120px 0;
  background: $white;
}
.home-two-service {
  background: $background;
  padding: 120px 0;
}
.counter-card-wrapper {
  padding: 120px 0 104px 0;
  background: url("../../images/counter-bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .counter-sketch {
    position: absolute;
    background-image: url("../../images/title-sketch.png");
    width: 200px;
    height: 200px;
    bottom: 246px;
    right: 104px;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8));
  }
}
.mission-sketch {
  position: absolute;
  background-image: url("../../images/sketch-color.png");
  width: 188px;
  height: 188px;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 35%);
}

// client-logo wrapper
.home-two-client-logo-area {
  background: $background;
  padding: 120px 0;
  position: relative;
  .sketch {
    position: absolute;
    width: 188px;
    height: 188px;
    background-image: url("../../images/sketch-color.png");
    bottom: 18px;
    right: 46px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home-two-client-logo-slider {
    button {
      // display: none !important;
    }
    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      li {
        line-height: 0;
        button {
          width: 14px;
          height: 14px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: #bdbdbd;
        }
        &.slick-active {
          button {
            background: $title-color;
          }
        }
      }
    }
  }
}
