.home-three-client-logo-area {
  background-color: $icon-color;
  padding: 120px 0;
  position: relative;
  .shape-one {
    @include xl {
      background-image: url("../../images/shape/Rectangle.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 165px;
      left: 49px;
    }
  }
  .home-two-client-logo-slider {
    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      li {
        line-height: 0;
        button {
          width: 14px;
          height: 14px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: transparent;
          border: 1px solid $white;
        }
        &.slick-active {
          button {
            background: $brand;
          }
        }
      }
    }
  }
  @include sm {
    padding: 80px 0;
  }
}
