.home-two-about-us-area {
  padding: 120px 0;
  background: $white;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .sketch-one {
    @include rwd(1440) {
      background-image: url("../images/sketch-color.png");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 114px;
      right: 46px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .about-us-image-gallery {
    img {
      width: 100%;
      height: 100%;
      @include transition;
      &:hover {
        // filter: blur(2px);
        transform: scale(1.1);
      }
    }
  }
}
// service section
.home-two-service {
  background: $background;
  padding: 120px 0;
  position: relative;
  .sketch-one {
    @include rwd(1440) {
      background-image: url("../images/sketch-color.png");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 65px;
      left: 44px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  @include sm {
    padding: 80px 0;
  }
}
// counter section
.counter-card-wrapper {
  padding: 120px 0 104px 0;
  background: url("../images/counter-bg-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .counter-sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/title-sketch.png");
      width: 200px;
      height: 200px;
      bottom: 246px;
      right: 104px;
      z-index: 2;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8));
  }
  @include sm {
    padding: 80px 0 80px 0;
  }
}

// mission section
.home-two-mission {
  padding: 120px 0;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// client-logo wrapper
.home-two-client-logo-area {
  background: $background;
  padding: 120px 0;
  position: relative;
  .sketch {
    @include rwd(1440) {
      position: absolute;
      width: 188px;
      height: 188px;
      background-image: url("../images/sketch-color.png");
      bottom: 18px;
      right: 46px;
      background-position: center;
      background-repeat: no-repeat;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .home-two-client-logo-slider {
    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      margin-bottom: 0;
      list-style: none;
      li {
        line-height: 0;
        button {
          width: 14px;
          height: 14px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: #bdbdbd;
        }
        &.slick-active {
          button {
            background: $title-color;
          }
        }
      }
    }
  }
  @include sm {
    padding: 80px 0;
  }
}

.home-2-process-step {
  padding: 120px 0;
  position: relative;
  // .sketch {
  //   @include rwd(1440) {
  //     position: absolute;
  //     background-image: url("../images/shape/sketch-color.svg");
  //     width: 188px;
  //     height: 188px;
  //     bottom: 45px;
  //     left: 147px;
  //   }
  // }
  @include sm {
    padding: 80px 0;
  }
}
.home-two-process-slider {
  .slick-slide {
    margin: 24px 50px;
    @include sm {
      margin: 10px 0px;
    }
  }
  .process-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: $white;
    border: 1px solid transparent;
    cursor: pointer;
    top: 50%;
    overflow: hidden;
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.03);
    &.active {
      background: $brand;
      border-color: transparent;
    }
    &.prev-btn {
      left: 20px;

      @include rmaxwd(767) {
        right: unset;
        left: 30px;
      }
    }
    &.next-btn {
      right: 20px;
      @include rmaxwd(767) {
        right: 30px;
        left: unset;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $title-color;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      background: $brand;

      i {
        color: $title-color;
        @include transition;
      }
    }
  }
  .slick-dots {
    display: none !important;
    // display: flex;
    // top: 0;
    // list-style: none;
  }
}
// process-step slider
.process-slider-container {
  padding: 0 20px;
  margin: 0 auto;

  @include rwd(1200) {
    max-width: calc(1320px + 100px);
    width: 100%;
    margin: 0 auto;
  }
}
// case-studies
.home-two-case-studies {
  padding: 120px 0;
  background-color: $icon-color;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .sketch {
    position: absolute;
    background-image: url("../images/title-sketch.png");
    width: 188px;
    height: 188px;
    bottom: 192px;
    right: 68px;
    animation: MoveUpDown 2s linear infinite alternate;
  }
}
// Team-member section
.home-two-team {
  padding: 120px 0;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/sketch-color.png");
      width: 188px;
      height: 188px;
      bottom: 192px;
      right: 68px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
}
// customer-review
.home-two-customer-review {
  padding: 120px 0;
  background-color: $icon-color;
  position: relative;
  @include sm {
    padding: 80 0;
  }
  @include md {
    padding: 80 0;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/triangle-shape-white.svg");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 138px;
      left: 254px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-3.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 210px;
      left: 42px;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/Rectangle.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 266px;
      right: 55px;
      rotate: 90deg;
    }
  }
  .home-two-testimonial-card-slider {
    .slick-slide {
      display: flex;
      align-items: center;
      margin: 64px 50px 0 50px;
      @include sm {
        margin: 50px 30px 0 20px;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      list-style: none;
      li {
        line-height: 0;
        button {
          width: 12px;
          height: 12px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: transparent;
          border: 1px solid $white;
        }
        &.slick-active {
          button {
            background: $brand;
          }
        }
      }
    }
  }
  .home-two-testimonial-container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    @include lg {
      max-width: calc(1320px + 100px);
      width: 100%;
    }
  }
}

// Blog area
.home-two-blog-area {
  padding: 120px 0;
  position: relative;
  @include sm {
    padding: 80 0;
  }
  @include md {
    padding: 80 0;
  }
  .sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/sketch-color.png");
      width: 188px;
      height: 188px;
      bottom: 40px;
      right: 102px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
}
