// Why Choose Us Area
.why-choose-us-area {
  padding: 180px 0 120px 0;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .scrolldown-btn-wrapper {
    display: none;
    @include rwd(991) {
      position: absolute;
      top: 0;
      left: 43%;
      transform: translate(0, -61%);
      background-image: url("../images/scroll-down-2.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100px;
      display: block;
      .scrolldown-btn {
        margin: 100px 72px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand;
        width: 135px;
        height: 135px;
        border-radius: 100px;
        position: relative;
        i {
          color: $title-color;
          font-size: 34px;
          position: absolute;
        }
      }
    }
    .rounded-text {
      width: 110px;
      height: 110px;
      text-transform: uppercase;
      transform: rotate(-103deg);
      color: #fff;
      font-weight: bold;
      // z-index: -1;
      font-family: $body-font;
    }
    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .rotating {
      animation: rotating 12s linear infinite;
    }
  }
  .about-info-card-image {
    position: relative;

    img {
      width: 100%;
      transform: scale(1.01);
      @include transition;
    }
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
    .sketch-one {
      @include rwd(1440) {
        background-image: url("../images/shape/image-card-sketch.png");
        width: 109px;
        height: 109px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 3;
        animation: MoveUpDown 2s linear infinite alternate;
      }
    }
  }
  .sketch-two {
    @include xl {
      background-image: url("../images/shape/image-card-sketch.png");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 65px;
      right: 160px;
      z-index: 3;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
}

// Service section
.home-one-service {
  padding: 120px 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/triangle-shape-white.png");
      width: 79px;
      height: 91px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 64px;
      bottom: 128px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .home-one-service-slider {
    .slick-slide {
      margin: 0 12px;
    }
  }
}

// Process Step Area
.home-one-process-step {
  padding: 120px 0 208px 0;
  background-color: $background;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-2.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 270px;
      right: 55px;
      transform: rotate(0deg);
      animation: Rotating-reverse 9s linear infinite;
      transform-origin: bottom right;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/rectangle.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 271px;
      left: 42px;
      transform: rotate(0deg);
      animation: Rotating 5s linear infinite;
      transform-origin: bottom right;
    }
  }
  .image-wrapper {
    position: relative;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
    img {
      @include transition;
      @include md {
        width: 100%;
      }
    }
    .sketch {
      @include xl {
        background-image: url("../images/shape/sketch-black.png");
        width: 109px;
        height: 109px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 0%);
        z-index: 3;
        animation: MoveUpDown 2s linear infinite alternate;
      }
    }
  }
}

// consultation
.free-consultaion-area {
  padding-bottom: 120px;
  margin-top: -114px;
  @include sm {
    padding: 80px 0;
    margin-top: 0;
  }
  @include md {
    padding: 80px 0;
    margin-top: 0;
  }
}

// Testimonial Area
.home-one-testimonial-area {
  padding: 145px 0;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  @include rmaxwd(991) {
    padding: 100px 0;
  }
}

// section-overlay
.section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(0deg, rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8));
  left: 0;
  top: 0;
  z-index: -1;
}
.icon-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include sm {
    gap: 0;
    margin-top: 48px;
  }
  @include md {
    gap: 0;
    margin-top: 32px;
  }
}

// case-studies
.case-studies-home-one {
  background: $icon-color;
  padding: 120px 0 244px 0;
  position: relative;
  @include rmaxwd(991) {
    padding: 80px 0 145px 0;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/title-sketch.svg");
      width: 188px;
      height: 188px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 20px;
      right: 82px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
}
// case-studies slider
.home-one-case-studies-slider {
  @include md {
    padding: 0 48px;
  }
  @include lg {
    padding: 0 48px;
  }
  .portfolio-card {
    margin: 0 24px;
  }
  button.case-arrow-btn {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $white;
    cursor: pointer;
    bottom: -124px;
    overflow: hidden;
    @include rmaxwd(991) {
      top: unset;
    }
    @include sm {
      bottom: -76px;
      width: 40px;
      height: 40px;
    }
    @include md {
      bottom: -76px;
      width: 45px;
      height: 45px;
    }

    &.prev-btn {
      right: 51%;
      @include sm {
        right: 51%;
      }
      @include md {
        right: 51%;
      }
    }
    &.next-btn {
      left: 50%;
      @include sm {
        left: 50%;
      }
      @include md {
        left: 50%;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      background: $brand;
      border-color: transparent;
      i {
        color: $title-color;
        @include transition;
      }
    }
  }
}

// Review section
.home-one-review {
  padding: 120px 0;
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
  .review-card {
    display: flex !important;
    align-items: end;
    gap: 73px;
    @include sm {
      flex-direction: column;
      gap: 24px;
    }
    @include md {
      gap: 32px;
    }
    .image-wrapper {
      flex-shrink: 0;
      display: flex;
      width: 40%;
      justify-content: end;
      @include sm {
        width: 100%;
        justify-content: center;
      }
      .image {
        position: relative;
        border-radius: 200px;
        overflow: hidden;
        z-index: 10;
        background-color: $background;

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: url("../images/review/bg.svg");
          z-index: -1;
        }
      }
    }
    .review-content {
      width: 50%;
      width: 100%;
      @include sm {
        width: 100%;
      }
      .testimonial-card {
        justify-content: end;
      }
    }
  }
  .home-one-review-slider {
    button.review-arrow-btn {
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      transition: 0.3s;
      z-index: 99;
      background-color: transparent;
      border: 1px solid #828282;
      cursor: pointer;
      top: -174px;
      overflow: hidden;
      @include rmaxwd(991) {
        top: unset;
      }
      @include sm {
        width: 40px;
        height: 40px;
      }
      @include md {
        width: 50px;
        height: 50px;
      }
      &.prev-btn {
        right: 74px;

        @include sm {
          bottom: -50px;
          right: 51%;
        }
        @include md {
          bottom: -64px;
          right: 51%;
        }
      }
      &.next-btn {
        right: 0;
        @include sm {
          bottom: -50px;
          left: 50%;
        }
        @include md {
          bottom: -64px;
          left: 50%;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $title-color;
        font-size: 21px;
        @include transition;
      }
      &:hover {
        background: $brand;
        border-color: transparent;
        i {
          color: $title-color;
          @include transition;
        }
      }
    }
  }
}

// Blog section
.home-one-blog {
  padding: 120px 0;
  background-color: $icon-color;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/brush-sketch-white.png");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 72px;
      right: 176px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
}

// Team-member section
.home-one-team-member-area {
  padding: 120px 0 112px 0;
  overflow: hidden;
  position: relative;
  @include sm {
    padding: 80px 0;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/sketch-color.png");
      width: 188px;
      height: 188px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 100px;
      right: 262px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .home-one-team-member {
    position: relative;
    margin-left: -200px;
    @include sm {
      margin-left: 0;
    }
    @include md {
      margin-left: 0;
      padding: 0 32px;
    }
    @include lg {
      margin-left: 0;
      padding: 0 32px;
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-list {
      .slick-slide {
        margin: 0 12px;
        @include transition;

        &.slick-active {
          @include transition;
        }
        @include lg {
          margin: 0 16px;
        }
      }
    }
    // Slick Nav Arrow Button
    button.home-one-team-arrow-btn {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: 0.3s;
      z-index: 99;
      background-color: transparent;
      border: 1px solid #828282;
      cursor: pointer;
      top: -164px;
      overflow: hidden;
      @include rmaxwd(991) {
        top: unset;
        bottom: -80px;
      }

      &.prev-btn {
        right: 72px;

        @include rmaxwd(767) {
          right: unset;
          left: 30px;
        }
      }
      &.next-btn {
        right: 0;
        @include rmaxwd(767) {
          right: 30px;
          left: unset;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $title-color;
        font-size: 21px;
        @include transition;
      }
      &:hover {
        background: $brand;

        i {
          color: $title-color;
          @include transition;
        }
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      list-style: none;
      li {
        line-height: 0;
        button {
          width: 8px;
          height: 8px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: #bdbdbd;
        }
        &.slick-active {
          button {
            background: $title-color;
          }
        }
      }
    }
  }
}

// Client-logo
.home-one-client-logo {
  position: relative;
  padding: 82px 0 72px 0;
  background-color: $icon-color;
  @include sm {
    padding: 60px 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/client/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .home-one-client-slider {
    position: relative;
    z-index: 5;
    .slick-dots {
      display: none !important;
    }
  }
}
