// hero section
.home-three-hero-section {
  padding-top: 209px;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/Rectangle.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 49px;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-2.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 144px;
      right: 48px;
    }
  }
  @include sm {
    padding-top: 112px;
  }
  @include md {
    padding-top: 112px;
  }
  @include lg {
    padding-top: 148px;
  }
  .hero-container {
    padding: 0 12px;

    @include rwd(1200) {
      width: 100%;
      margin: 0 auto;
      padding: 0 90px;
    }
    .section-title {
      .slider-title {
        @include sm {
          font-size: 33px;
          line-height: 46px;
        }
        @include md {
          font-size: 62px;
          line-height: 68px;
        }
      }
    }
  }
}
.home-three-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
}

// Hero section images
.hero-image-wrapper {
  display: none;
  @include rwd(1200) {
    height: 100%;
    position: relative;
    margin-top: 98px;
    display: block;
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/image-card-sketch.png");
      width: 88px;
      height: 88px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      z-index: 10;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }

  .left-hero-image {
    @include rwd(1200) {
      position: absolute;
      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $title-color;
        content: "";
        border-radius: 0 0 125px 125px;
        margin-top: 16px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 125px 125px;
        position: relative;
        z-index: 3;
        margin-left: 16px;
      }
    }
  }
  .right-hero-image {
    position: absolute;
    .sketch-bottom {
      @include rwd(1440) {
        background-image: url("../images/sketch-color.png  ");
        width: 124px;
        height: 124px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -48px;
        right: 0;
        // transform: translate(50%, 50%);
        z-index: 5;
        animation: MoveUpDown 2s linear infinite alternate;
      }
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid $title-color;
      content: "";
      border-radius: 0 0 125px 125px;
      margin-left: 16px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 0 0 125px 125px;
      position: relative;
      z-index: 3;
      margin-top: 16px;
    }
  }
}

// Hero main img
.home-three-hero-main-img {
  background: url("../images/home-3-hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 100%;
    height: 100%;
  }
}

// client-logo section
.home-three-client-logo-area {
  background-color: $icon-color;
  padding: 120px 0;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/rectangle.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 165px;
      left: 49px;
    }
  }
  .home-two-client-logo-slider {
    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 64px;
      margin-bottom: 0;
      list-style: none;
      li {
        line-height: 0;
        button {
          width: 14px;
          height: 14px;
          font-size: 0;
          border-radius: 50px;
          padding: unset;
          background-color: transparent;
          border: 1px solid $white;
        }
        &.slick-active {
          button {
            background: $brand;
          }
        }
      }
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// about-us section
.home-three-about-us {
  padding: 120px 0;
  .home-three-about-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    img {
      width: 100%;
      height: 100%;
    }
    .sketch {
      @include rwd(1440) {
        background-image: url("../images/shape/sketch-black.png");
        width: 109px;
        height: 109px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
        z-index: 3;
      }
    }
    @include sm {
      padding-right: 0;
    }
    @include md {
      padding-right: 0;
    }
    @include lg {
      padding-right: 0;
    }
  }

  @include sm {
    padding: 80px 0;
  }
}

// service section
.home-three-service {
  padding: 120px 0;
  background-image: url("../images/breadcrumb/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/title-sketch.svg");
      width: 169px;
      height: 169px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: 0;
      // transform: translate(-50%, 50%);
    }
  }
  .overlay {
    @include icon-gradient-color;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .home-three-service-slider {
    margin-left: 312px;
    .slick-slide {
      margin: 0 12px;
      display: flex;
    }
    .home-three-service-arrow-btn {
      display: none !important;
    }
    @include sm {
      margin-left: 0;
    }
    @include md {
      margin-left: 12px;
    }
    @include lg {
      margin-left: 48px;
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// process section
.home-three-process {
  padding: 120px 0;
  background-color: $background;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/rectangle.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 165px;
      left: 49px;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-2.png");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 347px;
      right: 48px;
    }
  }
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/sketch-color.png");
      width: 109px;
      height: 109px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 88px;
      bottom: 276px;
    }
  }

  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// Case-studies
.case-studies-home-three {
  background-color: $icon-color;
  padding: 120px 0;
  position: relative;
  .sketch {
    @include rwd(1440) {
      background-image: url("../images/shape/title-sketch.svg");
      width: 169px;
      height: 169px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 75px;
      left: 42px;
      // transform: translate(-50%, 50%);
    }
  }
  button.portfolio-card-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $white;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    // display: none !important;

    @include rmaxwd(767) {
      width: 40px;
      height: 40px;
    }
    &.prev-btn {
      left: 280px;
      @include sm {
        left: 0;
        top: -32px;
      }
      @include md {
        left: 0;
      }
      @include lg {
        left: 24px;
      }
    }
    &.next-btn {
      right: 30px;
      display: none !important;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      background-color: $brand;

      i {
        color: $title-color;
        @include transition;
      }
    }
    &.active {
      background-color: $brand;
      border-color: transparent;
      i {
        color: $title-color;
        @include transition;
      }
    }
  }
  .home-three-case-studies-slider {
    position: relative;
    .slick-list {
      margin-left: 312px;

      .slick-slide {
        margin: 0 12px;
        @include transition;

        &.slick-active {
          @include transition;
        }
        @include sm {
          margin: 0 20px 0 0;
        }
      }
      @include sm {
        margin-left: 0;
      }
      @include md {
        margin-left: 0;
      }
      @include lg {
        margin-left: 48px;
      }
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// Customer-review
.customer-review {
  padding: 120px 0;
  background-color: $background;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/rectangle.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 232px;
      left: 42px;
      transform: rotate(90deg);
      z-index: 1;
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-2.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 115px;
      right: 58px;
      z-index: 1;
    }
  }
  .home-three-review-slider {
    .slick-list {
      // margin-left: 175px;
      // display: flex;
      overflow: visible;
      position: relative;
      &:before {
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        content: "";
        background: $background;
        z-index: 10;
        transform: translate(-100%, 0);
      }
      .slick-slide {
        margin: 0 12px;
      }
    }
    .home-three-review-arrow-btn {
      display: none !important;
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// Contact us section
.home-three-contact-us {
  padding: 120px 0;
  background-color: $icon-color;
  position: relative;
  .shape-one {
    @include rwd(1440) {
      background-image: url("../images/shape/shape-3.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 323px;
      left: 49px;
      transform: rotate(90deg);
    }
  }
  .shape-two {
    @include rwd(1440) {
      background-image: url("../images/shape/rectangle.svg");
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 347px;
      right: 48px;
    }
  }
  .sketch {
    @include rwd(1440) {
      background: url("../images/shape/title-sketch.svg");
      position: absolute;
      right: 32px;
      bottom: 79px;
      background-position: center;
      background-repeat: no-repeat;
      width: 169px;
      height: 169px;
    }
  }
  .contact-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      @include transition;
    }
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
    &.style-two {
      img {
        padding-top: 40px;
        @include md {
          padding-top: 0;
        }
      }
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}

// Blog section
.home-three-blog {
  position: relative;
  padding: 120px 0;
  background: $white;
  .sketch {
    @include rwd(1440) {
      background: url("../images/sketch-color.png");
      position: absolute;
      right: 32px;
      bottom: 79px;
      background-position: center;
      background-repeat: no-repeat;
      width: 169px;
      height: 169px;
    }
  }
  @include sm {
    padding: 80px 0;
  }
  @include md {
    padding: 80px 0;
  }
}
