.service-what-we-area {
    background: $background;
    padding: 120px 0;
    position: relative;
    .sketch {
        background: url("../../images/sketch-color.png");
        position: absolute;
        right: 32px;
        bottom: 368px;
        background-position: center;
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-one {
        background: url("../../images/shape/Rectangle.png");
        position: absolute;
        left: 33px;
        bottom: 609px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-two {
        background: url("../../images/shape/shape-2.png");
        position: absolute;
        right: 55px;
        top: 201px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
}
// Sketch
.image-card-section {
    position: relative;
    .sketch {
        background: url("../../images/sketch-color.png");
        position: absolute;
        right: 94px;
        bottom: 94px;
        background-position: center;
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
}
.price-card-section {
    position: relative;
    padding: 120px 0;
    .sketch {
        background: url("../../images/sketch-color.png");
        position: absolute;
        right: 93px;
        bottom: 93px;
        background-position: center;
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-one {
        background: url("../../images/shape/Rectangle.png");
        position: absolute;
        left: 42px;
        bottom: 507px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
    .shape-two {
        background: url("../../images/shape/shape-2.png");
        position: absolute;
        right: 55px;
        top: 201px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
    }
}
