.about-info-card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .content {
            .title {
                margin-bottom: 16px;

                @include sm {
                    font-size: 40px;
                    line-height: 60px;
                }
                @include md {
                    font-size: 46px;
                    line-height: 60px;
                }
                @include lg {
                    font-size: 46px;
                    line-height: 60px;
                }
            }
        }
        .about-counter-card {
            display: flex;
            gap: 32px;
            .counter-item {
                .counter-title {
                    .number {
                        @include sm {
                            font-size: 40px;
                            line-height: 60px;
                        }
                        @include md {
                            font-size: 46px;
                            line-height: 60px;
                        }
                        @include lg {
                            font-size: 46px;
                            line-height: 60px;
                        }
                    }
                }
            }
        }
    }
    @include sm {
        padding: 0;
        margin-top: 24px;
    }
    @include md {
        padding: 0;
        margin-top: 24px;
    }
    @include lg {
        padding: 0;
        margin-top: 24px;
    }
}
