.about-info-card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .content {
            .title {
                margin-bottom: 16px;
            }
            .desc {
                font-size: 18px;
                line-height: 31px;
                color: $text-color;
            }
        }
        .about-counter-card {
            display: flex;
            gap: 32px;
            .counter-item {
                .counter-title {
                    .number {
                        font-size: 43px;
                        line-height: 52px;
                        letter-spacing: 0.02em;
                        color: $title-color;
                        display: flex;
                    }
                }
                .counter-content {
                    .text {
                        font-size: 18px;
                        line-height: 31px;
                        color: #080f10;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}
