.page-breadcrumb-sec {
  padding: 211px 0;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page-overlay {
  @include gradient-color-hero;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}

.page-heading {
  position: relative;
  h1 {
    font-family: $heading-font;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 91px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $white;
    @include sm {
      font-size: 42px;
      line-height: 72px;
    }
    @include md {
      font-size: 60px;
      line-height: 72px;
    }
  }
}
.breadcrumb-wrapper {
  padding: 0;
}
.breadcrumb-list {
  text-align: center;

  ul {
    margin-bottom: 10px;
    padding-left: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    i {
      color: $white;
      font-size: 12px;
    }
    li {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      position: relative;
      i {
        flex-shrink: 0;
      }

      &.active {
        a,
        i {
          color: $brand;
        }
      }
      a {
        font-family: $body-font;
        font-size: 16px;
        text-align: center;
        color: $white;
        text-transform: capitalize;
        line-height: 27px;
        font-weight: 400;
        margin-bottom: 0;
        @include transition;

        @media only screen and (min-width: 992px) {
          font-size: 16px;
          line-height: 54px;
        }

        &:hover {
          @include transition;
          // color: $primary-color;
        }
      }

      // &::before {
      //   content: "-";
      //   position: absolute;
      //   right: -8px;
      //   font-size: 16px;
      //   color: #fff;
      //   font-family: Icofont;
      // }

      &:last-child::before {
        display: none;
        display: none;
      }
    }
  }
}
