.client-logo-wrapper {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    @include transition;
    img {
      // opacity: 0.65;
      @include transition;
    }
    &:hover {
      transform: scale(1.1);
      img {
        filter: brightness(0);
      }
    }
  }
}
