.consultation-wrapper {
  background: $icon-color;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  .free-consultaion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    z-index: 9999;
    position: relative;
    padding-left: 70px;
    padding-right: 50px;
    .sketch {
      position: absolute;
      background-image: url("../../images/sketch-brand.png");
      background-position: center;
      background-repeat: no-repeat;
      right: 0;
      bottom: 0;
      width: 109px;
      height: 109px;
      transform: translate(50%, -50%);
    }
    .button-wrapper {
      display: flex;
      justify-content: start;
      gap: 24px;
    }
  }
  .consultion-img img {
    width: 100%;
  }
  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/coltation-img/shap.png);
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .consultion-img {
    position: relative;
    z-index: 999;
  }
}
