/*Comment Input Filed*/

.post-comments-form {
  padding: 40px 49px;
  background: $icon-color;
  @include sm {
    margin-top: 24px;
    padding: 40px 30px;
  }
  @include lg {
    padding: 25px 30px;
  }
  &.style-two {
    padding: 0;
    background: transparent;
  }
}
.post-comments-title {
  &.style-two {
    h5 {
      color: $title-color;
      font-size: 32px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.64px;
      margin-bottom: 48px;
      @include sm {
        margin-bottom: 28px;
      }
    }
  }
  .sub-title {
    color: $white;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
  }
  h5 {
    color: $white;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;

    @include sm {
      font-size: 28px;
      margin-bottom: 20px;
    }
    small {
      font-size: 16px;
      font-family: $body-font;
      color: $primary-color;
    }
  }
}
.comment-respond {
  .contacts-email,
  .contacts-name,
  .single-input-field,
  .contacts-message {
    margin-bottom: 16px;
  }
  .single-input-field {
    .nice-select {
      color: #c3d1d2;
      &:after {
        color: $white;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        color: #ffffff;
        width: 10px;
        height: 10px;
      }
    }
    &.style-two {
      .nice-select {
        &:after {
          border-color: $title-color;
        }
      }
    }
  }
  label {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $title-color;
    margin-bottom: 8px;
  }
  .checkbox-field-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 15px 0;

    .single-checkbox-field {
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      font-weight: 400;
      font-family: $body-font;

      .form-check-input {
        margin: 0 !important;
        width: 18px;
        height: 18px;
        padding: 0;
      }
    }
  }
  .comment-form-cookies-consent {
    display: none;
  }
  .comment-form {
    .terms-condition-wrapper {
      .terms-condition {
        height: 100%;
        width: auto;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
  input,
  select {
    padding: 0 16px;
    height: 60px;
    width: 100%;
    color: $white;
    border: 1px solid $form-border;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    font-family: $body-font !important;
  }
  *::-webkit-input-placeholder {
    color: $form-border;
  }
  *:-moz-placeholder {
    color: $form-border;
    opacity: 1;
  }
  *::-moz-placeholder {
    color: $form-border;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    color: $form-border;
  }
  *::-ms-input-placeholder {
    color: $form-border;
  }
  *::placeholder {
    color: $form-border;
  }
  textarea {
    resize: vertical;
    padding: 16px;
    width: 100%;
    color: $white;
    border: 1px solid $form-border;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    font-family: $body-font !important;
    height: 200px;
    &.style-two {
      color: $title-color !important;
    }
    @include lg {
      height: 90px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  input:focus,
  textarea:focus,
  .form-select:focus,
  .nice-select {
    outline: none !important;
    box-shadow: none;
    border-color: $form-border;
    transition: all 0.4s ease 0s;
    color: $white;
  }
  &.style-two {
    input {
      padding: 16px;
      height: auto;
      color: $title-color;
      border: 1px solid $text-gray;
      border-radius: 0;
      font-size: 14px;
      font-weight: 400;
      font-family: $body-font !important;
      line-height: 150%;
    }
    ::placeholder {
      color: $text-gray;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $text-gray;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $text-gray;
    }
    textarea {
      border-color: $text-gray;
    }
    .contacts-checkbox {
      width: 20px;
      height: 20px;
      padding: 0;
      border-radius: 4px;
      margin-right: 8px;
    }
    .form-check-input:checked {
      background-color: $icon-color;
      border-color: $icon-color;
    }
  }
}

.comment-respond {
  &.style-two {
    .single-input-field {
      margin-bottom: 30px;
      input,
      select {
        background-color: transparent;
        border-color: $text-gray;
        color: $title-color;
      }
      .nice-select {
        color: $title-color;
      }
      textarea {
        border-color: $text-gray;
      }
      *::-webkit-input-placeholder {
        color: $text-gray;
      }
      *:-moz-placeholder {
        color: $text-gray;
        opacity: 1;
      }
      *::-moz-placeholder {
        color: $text-gray;
        opacity: 1;
      }
      *:-ms-input-placeholder {
        color: $text-gray;
      }
      *::-ms-input-placeholder {
        color: $text-gray;
      }
      *::placeholder {
        color: $text-gray;
      }
    }
    .checkbox-field-wrapper {
      .single-checkbox-field {
        .form-check-input {
          background-color: transparent;
          border-color: #739bbf;
        }
      }
    }
    input:focus,
    textarea:focus,
    .form-select:focus,
    .nice-select {
      border-color: $text-gray;
    }
  }
}
