/*Comment Input Filed*/

.post-comments-form {
  padding: 40px 49px;
  background: $icon-color;
}
.post-comments-title {
  .sub-title {
    color: $white;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
  }
  h5 {
    color: $white;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;

    @include sm {
      font-size: 28px;
      margin-bottom: 20px;
    }
    small {
      font-size: 16px;
      font-family: $body-font;
      color: $primary-color;
    }
  }
}
.comment-respond {
  .contacts-email,
  .contacts-name,
  .single-input-field,
  .contacts-message {
    margin-bottom: 16px;
  }
  .single-input-field {
    .nice-select {
      color: $form-border;
      &:after {
        color: $white;
        border-bottom: 2px solid $title-color;
        border-right: 2px solid $title-color;
        color: #ffffff;
        width: 10px;
        height: 10px;
      }
    }
  }
  label {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $title-color;
    margin-bottom: 8px;
  }
  .checkbox-field-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 15px 0;

    .single-checkbox-field {
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      font-weight: 400;
      font-family: $body-font;

      .form-check-input {
        margin: 0 !important;
        width: 18px;
        height: 18px;
        padding: 0;
      }
    }
  }
  .comment-form-cookies-consent {
    display: none;
  }
  input,
  select {
    padding: 0 16px;
    height: 60px;
    width: 100%;
    color: $form-border;
    border: 1px solid $form-border;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    font-family: $body-font !important;
  }
  *::-webkit-input-placeholder {
    color: $black-300;
  }
  *:-moz-placeholder {
    color: $black-300;
    opacity: 1;
  }
  *::-moz-placeholder {
    color: $black-300;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    color: $black-300;
  }
  *::-ms-input-placeholder {
    color: $black-300;
  }
  *::placeholder {
    color: $black-300;
  }
  textarea {
    resize: vertical;
    padding: 16px;
    width: 100%;
    color: $form-border;
    border: 1px solid $form-border;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    font-family: $body-font !important;
    height: 200px;
  }

  p {
    margin-bottom: 20px;
  }

  input:focus,
  textarea:focus,
  .form-select:focus,
  .nice-select {
    outline: none !important;
    box-shadow: none;
    border-color: $form-border;
    transition: all 0.4s ease 0s;
  }
}

.comment-respond {
  &.style-two {
    .single-input-field {
      margin-bottom: 30px;
    }
    .single-input-field {
      input,
      select {
        background-color: transparent;
        border-color: #828282;
        color: $white-100;
      }
      *::-webkit-input-placeholder {
        color: $white-100;
      }
      *:-moz-placeholder {
        color: $white-100;
        opacity: 1;
      }
      *::-moz-placeholder {
        color: $white-100;
        opacity: 1;
      }
      *:-ms-input-placeholder {
        color: $white-100;
      }
      *::-ms-input-placeholder {
        color: $white-100;
      }
      *::placeholder {
        color: $white-100;
      }
    }
    .checkbox-field-wrapper {
      .single-checkbox-field {
        .form-check-input {
          background-color: transparent;
          border-color: #739bbf;
        }
      }
    }
    input:focus,
    textarea:focus,
    .form-select:focus,
    .nice-select {
      border-color: #828282;
    }
  }
}
