.consultation-wrapper {
  background: $icon-color;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  .sketch {
    @include rwd(1440) {
      position: absolute;
      background-image: url("../images/shape/sketch-brand.png");
      background-position: center;
      background-repeat: no-repeat;
      left: 47%;
      bottom: 125px;
      width: 109px;
      height: 109px;
      z-index: 10;
      animation: MoveUpDown 2s linear infinite alternate;
    }
  }
  .free-consultaion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    z-index: 3;
    position: relative;
    padding-left: 56px;
    padding-right: 50px;

    .button-wrapper {
      display: flex;
      justify-content: start;
      gap: 24px;
    }
    @include sm {
      padding: 30px;
    }
    @include md {
      padding: 30px;
    }
    @include lg {
      padding: 30px;
    }
  }
  .consultion-img img {
    width: 100%;
  }
  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/coltation-img/shap.png);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .consultion-img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    img {
      @include transition;
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }
}
