.counter-card {
  padding-top: 63px;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 48px;

  @include sm {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    &:before {
      display: none;
    }
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    padding: 0;
  }

  .counter-item {
    padding: 72px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    @include sm {
      padding: 35px 0;
      gap: 14px;
    }
    @include md {
      padding: 35px 0;
      gap: 14px;
    }
    &.style-two {
      &:before {
        @include rmaxwd(991) {
          display: none;
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 80px;
      background: $brand;
      left: -24px;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }

    .counter-title {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 20px;
      flex-direction: column;
    }

    .number {
      text-align: center;
      color: $white;

      @include sm {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .text {
      margin: 0;
      color: $white;
      font-size: 18px;
      line-height: 31px;
      font-weight: 400;
      @include sm {
        font-size: 14px;
      }
    }
  }
}
