.icon-card {
    &.style-three {
        flex-direction: row;
        background: $background;
        padding: 39px 41px 40px 32px;
        .content {
            gap: 8px;
            .title {
                text-align: start;
            }
            .desc {
                text-align: start;
            }
        }
    }
}
