.icon-card {
    &.style-two {
        flex-direction: row;
        align-items: center;
        padding: 36px 40px;
        border-radius: 8px;
        justify-content: start;
        .icon {
            background: $brand;
            width: 80px;
            height: 80px;
            align-self: start;
            img {
                width: 42px;
                height: 42px;
            }
        }
        .content {
            .title {
                text-align: start;
            }
            .desc {
                text-align: start;
                font-size: 18px;
                line-height: 31px;
            }
        }
        // &:hover {
        //     align-items: start;
        //     padding: 39px 40px;

        //     .content {
        //         .desc {
        //             margin: 0;
        //             opacity: 1;
        //             overflow: visible;
        //             height: auto;
        //         }
        //     }
        // }
    }
}
