.portfolio_card_wrapper {
    position: relative;
    .slick-list {
        margin-left: 312px;

        .slick-slide {
            margin: 0 12px;
            @include transition;

            &.slick-active {
                @include transition;
            }
            @include sm {
                margin: 0 20px 0 0;
            }
        }
        @include sm {
            margin-left: 0;
        }
        @include md {
            margin-left: 0;
        }
        @include lg {
            margin-left: 48px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1600px) {
            margin-left: 116px;
        }
    }
    // Slick Nav Arrow Button
    button.portfolio-card-arrow-btn {
        // display: none !important;
    }
}
