.portfolio-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .portfolio-image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.btn-left {
	text-align: center;
}

.portfolio-wrapper{
    .client-logo-slider-wrapper{
        .slick-slide{
            padding: 20px;
        }
        button.testimonial-arrow-btn {
            position: absolute;
            bottom: -27%;
            left: 50%;
            &.next-btn {
                position: absolute;
                left: 46%;
              }        
    
    }
}
}