.post-card-one {
  display: flex;
  flex-direction: column;
  .content-wrapper {
    background: $white;
    padding: 32px 32px 48px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .post-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .post-meta {
        display: flex;
        gap: 16px;
        align-items: center;
        .user {
          padding: 8px 16px;
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
        .date {
          padding: 8px 16px;
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
        .user,
        .date {
          span {
            line-height: 21px;
            i {
              font-size: 14px;
            }
          }
          p {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .title {
      }
    }
    button {
      flex-shrink: 0;
    }
  }
}
