.price-card-switch {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 48px 0;
    span {
        font-family: $body-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        color: $title-color;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 72px;
        height: 36px;
        @include sm {
            width: 50px;
            height: 25px;
        }
        @include md {
            width: 50px;
            height: 25px;
        }
        @include lg {
            width: 50px;
            height: 25px;
        }
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $icon-color;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 29px;
        width: 29px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        @include sm {
            bottom: 3px;
            width: 20px;
            height: 20px;
        }
        @include md {
            bottom: 3px;
            width: 20px;
            height: 20px;
        }
        @include lg {
            bottom: 3px;
            width: 20px;
            height: 20px;
        }
    }
    input:checked + .slider {
        background-color: $icon-color;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(35px);
        -ms-transform: translateX(35px);
        transform: translateX(35px);
        @include sm {
            transform: translate(23px);
        }
        @include md {
            transform: translate(23px);
        }
        @include lg {
            transform: translate(23px);
        }
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
    @include sm {
        margin: 36px 0;
    }
}
.price-card-wrapper {
    .price-card {
        background: $background;
        padding: 64px 38px 44px 36px;
        @include sm {
            padding: 40px 30px;
        }
        @include lg {
            padding: 45px 25px 35px 25px;
        }
        .card-title {
            .sub-title {
                font-family: $heading-font;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.02em;
                color: $title-color;
            }
        }
        .price {
            margin-top: 40px;
            @include sm {
                margin-top: 24px;
            }
            .price-heading {
                display: flex;
                align-items: center;
                @include transition;
                .duration {
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                }
            }
            .price-desc {
                margin-top: 32px;
                font-weight: 400;
                font-size: 18px;
                line-height: 31px;
                color: $text-color;
            }
        }
        .divider {
            position: relative;
            margin-top: 20px;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #e0e0e0;
            }
        }
        .list-title {
            font-family: $heading-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            margin: 24px 0;
        }
        .list-wrapper {
            display: flex;
            flex-direction: column;
            .list-inner {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            .price-list-item {
                display: inline-flex;
                gap: 16px;
                align-items: center;
                .icon {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    border-radius: 50px;
                    background: $white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #e0e0e0;
                    @include transition;
                    i {
                        font-size: 14px;
                        line-height: 12px;
                    }
                }
                .text {
                    @include lg {
                        font-size: 14px;
                    }
                }
            }
            .price-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 76px;
                @include sm {
                    margin-top: 44px;
                }
                @include md {
                    margin-top: 44px;
                }
                a {
                    padding: 17px 64px;
                    border: 1px solid $text-color;
                    border-radius: 4px;
                    font-family: $body-font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 31px;
                    text-align: center;
                    color: $title-color;
                    &:hover {
                        background: $icon-color;
                        color: $white;
                    }
                    @include sm {
                        padding: 14px 52px;
                    }
                    @include md {
                        padding: 14px 52px;
                    }
                }
            }
        }
    }
    .price-header {
        opacity: 0;
        overflow: hidden;
        background: $brand;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $icon-color;
        padding: 16px 0;
        @include sm {
            display: none;
        }
        @include md {
            display: none;
        }
    }
    &.active {
        .price-header {
            opacity: 1;
            overflow: visible;
            p {
                color: $white;
            }
        }
        .price-card {
            background: $brand;
            .divider {
                &:before {
                    background: $white;
                }
            }
        }
        .list-wrapper {
            .price-btn {
                a {
                    background: $icon-color;
                    color: $white;
                }
                &:hover {
                    a {
                        background: transparent;
                        color: $title-color;
                    }
                }
            }
            .price-list-item {
                .icon {
                    background: $icon-color;
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
    &.reverse {
        .price-header {
            background: $brand;
            p {
                color: $title-color;
            }
        }
        .price-card {
            background: $icon-color;
            .card-title {
                .sub-title {
                    color: $white;
                }
            }
            .price {
                .price-heading {
                    color: $white;
                    .duration {
                        color: $white;
                    }
                }
            }
            .list-title {
                color: $white;
            }
            .list-wrapper {
                .price-list-item {
                    .icon {
                        i {
                            color: $white;
                        }
                    }
                    .text {
                        color: $white;
                    }
                }
                .price-btn {
                    a {
                        border-color: $white;
                        color: $white;
                        &:hover {
                            background: $brand;
                            color: $title-color;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
