.image-card {
    &.style-two {
        flex-direction: row-reverse;
        gap: 64px;
        .content {
            padding-right: 30px;
            .title {
                font-size: 43px;
                line-height: 53px;
            }
        }
        @include sm {
            flex-direction: column-reverse;
        }
        @include md {
            flex-direction: column-reverse;
        }
    }
}
